Repository micropython/micropython, pull requests merged in 2019-10, with the labels that each got.

#5154 py/vm: Fix handling of unwind jump out of active finally.
  py/vm.c
  tests/basics/try_finally_break2.py
  tests/basics/try_finally_continue.py
  tests/basics/try_finally_continue.py.exp
  tests/basics/try_finally_return5.py
Labels: py-core

#5190 extmod/modbluetooth: Allow config of scan interval/window.
  extmod/modbluetooth.c
  extmod/modbluetooth.h
  extmod/modbluetooth_nimble.c
Labels: extmod

#5192 docs/library/bluetooth: Add initial BLE documentation.
  docs/library/bluetooth.rst
  docs/library/index.rst
Labels: docs

#5204 esp32: Add 4.x version of IDLE WDT config.
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#5150 top: Add CODEOFCONDUCT.md document based on the PSF code of conduct.
  CODEOFCONDUCT.md
Labels: non-devel
