Repository micropython/micropython, pull requests merged in 2020-07, with the labels that each got.

#6205 py: Rework mp_convert_member_lookup to properly handle built-ins.
  py/obj.h
  py/objclosure.c
  py/objfun.c
  py/objgenerator.c
  py/runtime.c
  tests/basics/class_bind_self.py
Labels: py-core

#6220 unix/variants: Enable VFS on dev variant with all filesystems.
  ports/unix/variants/dev/mpconfigvariant.h
  ports/unix/variants/dev/mpconfigvariant.mk
Labels: port-unix

#6184 nrf/boards: Add initial support for Actinius Icarus
  ports/nrf/README.md
  ports/nrf/boards/actinius_icarus/mpconfigboard.h
  ports/nrf/boards/actinius_icarus/mpconfigboard.mk
  ports/nrf/boards/actinius_icarus/pins.csv
Labels: port-nrf

#6273 stm32/usbdev: Fix calculation of SCSI LUN size with multiple LUNs.
  ports/stm32/usbd_msc_interface.h
  ports/stm32/usbdev/class/inc/usbd_cdc_msc_hid.h
  ports/stm32/usbdev/class/src/usbd_msc_scsi.c
Labels: port-stm32

#6285 extmod/uasyncio: Add StreamReader.readexactly(n) method.
  extmod/uasyncio/stream.py
  tests/multi_net/uasyncio_tcp_readexactly.py
  tests/multi_net/uasyncio_tcp_readexactly.py.exp
Labels: extmod

#6286 tools/makemanifest.py: Use errno.EEXIST instead of number 17.
  tools/makemanifest.py
Labels: tools
