Repository micropython/micropython, pull requests merged in 2020-09, with the labels that each got.

#6388 esp32/mphalport: Fix mp_hal_time_ns offset.
  ports/esp32/mphalport.c
Labels: port-esp32

#6400 stm32/mpconfigport.h: Enable MICROPY_PY_REVERSE_SPECIAL_METHODS.
  ports/stm32/mpconfigport.h
Labels: port-stm32

#6406 tools/mpy-tool.py: Fix merge of multiple mpy files to POP_TOP correctly.
  tools/mpy-tool.py
Labels: tools

#6399 extmod/modussl_axtls: Reduce size of code that makes exception.
  extmod/modussl_axtls.c
Labels: extmod

#6435 py/showbc: Pass in an mp_print_t struct to all bytecode-print functions.
  py/bc.h
  py/emitglue.c
  py/showbc.c
  py/vm.c
Labels: py-core

#6436 py/parse: Pass in an mp_print_t to mp_parse_node_print.
  ports/unix/main.c
  py/parse.c
  py/parse.h
Labels: py-core

#6434 esp8266: Remove release-specific manifest, disable osdebug by default.
  ports/esp8266/Makefile
  ports/esp8266/boards/GENERIC/manifest.py
  ports/esp8266/boards/manifest_release.py
Labels: port-esp8266

#6441 ports: Add utime.gmtime() function.
  docs/library/utime.rst
  ports/cc3200/mods/modutime.c
  ports/esp32/modutime.c
  ports/esp8266/modules/ntptime.py
  ports/esp8266/modutime.c
  ports/stm32/modutime.c
  ports/unix/modtime.c
Labels: ports

#6466 stm32/rfcore: Fix FUS layout and size of ipcc_device_info_table_t.
  ports/stm32/boards/NUCLEO_WB55/rfcore.py
  ports/stm32/rfcore.c
Labels: port-stm32

#6467 extmod/vfs: Fix lookup of entry in root dir so it fails correctly.
  extmod/vfs.c
  tests/extmod/vfs_basic.py
  tests/extmod/vfs_basic.py.exp
Labels: extmod

#6475 docs/develop: Add notes on prerequisite tools for building native .mpy.
  docs/develop/natmod.rst
Labels: docs

#6478 tests/run-tests: Use -BIS flags when running CPython.
  tests/basics/containment.py
  tests/run-tests
Labels: tests

#6490 examples/bluetooth: Update to use positional-only args to irq().
  examples/bluetooth/ble_simple_central.py
  examples/bluetooth/ble_simple_peripheral.py
  examples/bluetooth/ble_temperature.py
  examples/bluetooth/ble_temperature_central.py
  examples/bluetooth/ble_uart_peripheral.py
Labels: extmod
