Repository micropython/micropython, pull requests merged in 2020-06, with the labels that each got.

#6090 py/modbuiltins: Fix getattr to work with class raising AttributeError.
  py/modbuiltins.c
  tests/basics/builtin_getattr.py
Labels: py-core

#6104 esp32/mpthreadport: Fix calculation of thread stack size.
  ports/esp32/main.c
  ports/esp32/mpthreadport.c
Labels: port-esp32

#5851 esp32: Update IDF v4.0 supported hash.
  ports/esp32/Makefile
Labels: port-esp32

#6147 tools/uncrustify: Update config for v0.71.0.
  tools/uncrustify.cfg
Labels: tools

#6169 tools/codeformat.py: Include extmod/{btstack,nimble} in code formatting.
  extmod/btstack/modbluetooth_btstack.c
  extmod/nimble/modbluetooth_nimble.c
  tools/codeformat.py
Labels: tools

#6182 tools/makemanifest.py: Support freezing a subdirectory recursively.
  tools/makemanifest.py
Labels: tools

#6197 stm32/i2cslave: Pass I2C instance to callbacks to support multi I2Cs.
  ports/stm32/i2cslave.c
  ports/stm32/i2cslave.h
  ports/stm32/mboot/main.c
Labels: port-stm32

#6180 py/objcomplex: Add mp_obj_get_complex_maybe for use in complex bin-op.
  py/obj.c
  py/obj.h
  py/objcomplex.c
  tests/float/cmath_fun.py
  tests/float/complex_special_mehods.py
  tests/run-tests
Labels: py-core

#6208 stm32/timer: Properly initialise timer deadtime/brk on WB MCUs.
  ports/stm32/timer.c
Labels: port-stm32

#6211 stm32/mboot: Add DFU logic to respond to DFU_GETSTATE request.
  ports/stm32/mboot/main.c
Labels: port-stm32
