Repository micropython/micropython, pull requests merged in 2020-01, with the labels that each got.

#5507 py: Make mp_obj_get_type() return a const ptr to mp_obj_type_t.
  extmod/modujson.c
  ports/stm32/moduos.c
  ports/stm32/usb.c
  py/builtinhelp.c
  py/nativeglue.h
  py/obj.c
  py/obj.h
  py/objfun.c
  py/objstr.c
  py/objstrunicode.c
  py/objtuple.c
  py/objtype.c
  py/opmethods.c
  py/runtime.c
  py/sequence.c
  py/stream.c
Labels: py-core

#5521 py/mpconfig.h: Define BITS_PER_BYTE only if not already defined.
  py/mpconfig.h
Labels: py-core

#5295 tools: Add build_ports.sh and diff_sizes.py scripts.
  tools/metrics.py
Labels: tools

#5569 unix/Makefile: Reserve CFLAGS_EXTRA/LDFLAGS_EXTRA for external use.
  ports/unix/Makefile
  ports/unix/variants/coverage/mpconfigvariant.mk
  ports/unix/variants/freedos/mpconfigvariant.mk
Labels: port-unix
