Repository micropython/micropython, pull requests merged in 2021-05, with the labels that each got.

#7201 docs/library/machine: Add machine.bootloader docs.
  docs/library/machine.rst
Labels: docs

#7199 py/scheduler: Add missing MICROPY_WRAP_MP_SCHED_EXCEPTION usage.
  py/scheduler.c
Labels: py-core

#7216 rp2: Move manifest.py to boards directory.
  ports/rp2/CMakeLists.txt
  ports/rp2/boards/manifest.py
Labels: port-rp2

#7119 unix/modffi: Use a union for passing/returning FFI values.
  ports/unix/modffi.c
  tests/unix/ffi_float.py
  tests/unix/ffi_float.py.exp
Labels: port-unix

#7223 extmod: Remove old comments used for auto-doc generation.
  extmod/moductypes.c
  extmod/moduselect.c
  extmod/vfs_fat.c
Labels: extmod

#7224 extmod/uctypes: fix size and offset calculation for ARRAY of FLOAT32
  extmod/moductypes.c
  tests/extmod/uctypes_le_float.py
  tests/extmod/uctypes_le_float.py.exp
  tests/extmod/uctypes_sizeof_float.py
  tests/extmod/uctypes_sizeof_float.py.exp
Labels: extmod

#7231 rp2/mpthreadport: Add mp_thread_deinit to reset core1 on soft reset.
  ports/rp2/main.c
  ports/rp2/mpthreadport.c
  ports/rp2/mpthreadport.h
Labels: port-rp2

#7256 py/mkenv.mk: Don't emit info about BUILD_VERBOSE if it's set.
  py/mkenv.mk
Labels: py-core

#7265 tests/cpydiff: Add test and workaround for function.__module__ attr.
  tests/cpydiff/core_function_moduleattr.py
Labels: tests

#7264 py/objarray: Fix constructing a memoryview from a memoryview.
  py/objarray.c
  tests/basics/memoryview_gc.py
Labels: py-core

#6619 tools/mpy_ld.py: Support R_X86_64_GOTPCREL reloc for x86-64 arch.
  tools/mpy_ld.py
Labels: tools

#7290 stm32/sdio: Fix case of SDIO DMA turning off mid transfer.
  ports/stm32/dma.c
  ports/stm32/sdio.c
Labels: port-stm32

#7277 stm32/uart: Configure pull-up only on RX and CTS, not TX and RTS.
  ports/stm32/uart.c
Labels: port-stm32

#7283 stm32/mboot: Leave bootloader from thread mode, not from IRQ.
  ports/stm32/mboot/dfu.h
  ports/stm32/mboot/main.c
Labels: port-stm32

#7319 mimxrt: Extend the Pin module for SoftI2C, SoftSPI support.
  ports/mimxrt/machine_pin.c
  ports/mimxrt/mphalport.h
  ports/mimxrt/pin.h
Labels: port-mimxrt

#7320 esp8266/boards/GENERIC_512K: Add custom manifest without FS modules.
  ports/esp8266/boards/GENERIC_512K/manifest.py
  ports/esp8266/boards/GENERIC_512K/mpconfigboard.mk
Labels: port-esp8266

#7316 extmod/moduhashlib: Put hash obj in final state after digest is called.
  extmod/moduhashlib.c
  tests/extmod/uhashlib_final.py
  tests/extmod/uhashlib_final.py.exp
Labels: extmod

#4701 stm32: get small filesystem working on NUCLEO_L432KC
  ports/stm32/boards/NUCLEO_L432KC/mpconfigboard.h
  ports/stm32/boards/NUCLEO_L432KC/mpconfigboard.mk
  ports/stm32/boards/stm32l432.ld
Labels: port-stm32

#7326 stm32/boards/PYBD_SF2: Disable GCC 11 warnings for array bounds.
  ports/stm32/boards/PYBD_SF2/board_init.c
Labels: port-stm32

#7327 esp8266,esp32: Update manifest to point to new dirs in micropython-lib.
  ports/esp32/boards/manifest_release.py
  ports/esp8266/boards/GENERIC/manifest.py
Labels: port-esp32, port-esp8266

#7333 py/compile: Raise an error on async with/for outside an async function.
  py/compile.c
  tests/basics/async_syntaxerror.py
  tests/basics/async_syntaxerror.py.exp
Labels: py-core

#7332 tests/basics: Split out literal tests that raise SyntaxWarning on CPy.
  tests/basics/is_isnot.py
  tests/basics/is_isnot_literal.py
  tests/basics/is_isnot_literal.py.exp
  tests/basics/op_error.py
  tests/basics/op_error_literal.py
  tests/basics/op_error_literal.py.exp
Labels: tests

#7335 extmod/modurandom: Support an argument of bits=0 to getrandbits.
  extmod/modurandom.c
  tests/extmod/urandom_basic.py
  tests/extmod/urandom_basic.py.exp
Labels: extmod

#7336 py/builtinimport: Change relative import's ValueError to ImportError.
  py/builtinimport.c
  tests/import/import_pkg7.py.exp
  tests/import/pkg7/subpkg1/subpkg2/mod3.py
Labels: py-core
