Repository micropython/micropython, pull requests merged in 2021-07, with the labels that each got.

#7483 javascript/Makefile: Suppress compiler errors from array bounds.
  ports/javascript/Makefile
Labels: port-javascript

#7477 stm32/adc: Simplify and generalise how pin_adcX table is defined.
  ports/stm32/adc.c
  ports/stm32/boards/make-pins.py
Labels: port-stm32

#7490 py/makeversionhdr: add --tags arg to git describe
  py/makeversionhdr.py
Labels: py-core

#7498 tests/cpydiff/modules_struct_whitespace_in_format: Run black.
  tests/cpydiff/modules_struct_whitespace_in_format.py
Labels: tests

#7492 rp2/tusb_config.h: Set CFG_TUD_CDC_EP_BUFSIZE to 256.
  ports/rp2/tusb_config.h
Labels: port-rp2

#7510 esp32/machine_hw_spi: Use a 2 item SPI queue for long transfers.
  ports/esp32/machine_hw_spi.c
Labels: port-esp32

#7557 samd: Add support for building with user C modules.
  ports/samd/Makefile
  ports/samd/main.c
  ports/samd/sections.ld
Labels: port-samd

#7558 docs/library/uasyncio.rst: Document stream readexactly() method.
  docs/library/uasyncio.rst
Labels: docs

#7593 stm32/boards/NUCLEO_F439ZI: Add board definition for NUCLEO_F439ZI.
  ports/stm32/boards/NUCLEO_F439ZI/mpconfigboard.h
  ports/stm32/boards/NUCLEO_F439ZI/mpconfigboard.mk
  ports/stm32/boards/NUCLEO_F439ZI/pins.csv
  ports/stm32/boards/NUCLEO_F439ZI/stm32f4xx_hal_conf.h
Labels: port-stm32
