Repository micropython/micropython, pull requests merged in 2021-11, with the labels that each got.

#7826 rp2: Enable optimisations (comp goto, map cache, fast attr).
  ports/rp2/mpconfigport.h
Labels: port-rp2

#7972 tools/autobuild: Automatically build all mimxrt, rp2 and samd boards.
  tools/autobuild/autobuild.sh
  tools/autobuild/build-boards.sh
  tools/autobuild/build-mimxrt-latest.sh
  tools/autobuild/build-rp2-latest.sh
Labels: tools

#7956 esp8266/boards/GENERIC: Enable f-strings.
  ports/esp8266/boards/GENERIC/mpconfigboard.h
Labels: port-esp8266

#5899 extmod/uasyncio: Fix gather returning exceptions from a cancelled task.
  extmod/uasyncio/funcs.py
  tests/extmod/uasyncio_gather.py
  tests/extmod/uasyncio_gather.py.exp
Labels: extmod

#7979 docs/reference/filesystem.rst: Add detail on how to use littlefs fuse.
  docs/reference/filesystem.rst
Labels: docs

#8026 stm32/usb: Use a table of allowed values to simplify usb_mode get/set.
  ports/stm32/qstrdefsport.h
  ports/stm32/usb.c
Labels: port-stm32

#8014 py/lexer: Support nested [] and {} characters within f-string params.
  py/lexer.c
  tests/basics/string_fstring.py
  tests/cpydiff/core_fstring_parser.py
Labels: py-core

#8045 stm32/boards/make-pins.py: Use cpu pins to define static alt-fun macros.
  ports/stm32/boards/make-pins.py
Labels: port-stm32
