Repository micropython/micropython, pull requests merged in 2021-08, with the labels that each got.

#7571 rp2/boards/ADAFRUIT_FEATHER_RP2040: Configure I2C/SPI default pins.
  ports/rp2/boards/ADAFRUIT_FEATHER_RP2040/mpconfigboard.h
Labels: port-rp2

#7611 esp8266,esp32: Include hidden networks in WLAN.scan results.
  docs/library/network.WLAN.rst
  ports/esp32/modnetwork.c
  ports/esp8266/modnetwork.c
Labels: port-esp8266, port-esp32

#7617 docs/library/machine.I2S.rst: Fix use of sd pin in examples.
  docs/library/machine.I2S.rst
Labels: docs

#7588 stm32/powerctrl: Support changing frequency on WB MCUs.
  ports/stm32/Makefile
  ports/stm32/powerctrl.c
  ports/stm32/powerctrl.h
  ports/stm32/powerctrlboot.c
Labels: port-stm32

#7630 nrf/modules/nrf: Add function to enable/disable DCDC.
  ports/nrf/modules/nrf/modnrf.c
  ports/nrf/nrfx_glue.h
Labels: port-nrf

#7632 esp32/makeimg.py: Get bootloader and partition offset from sdkconfig.
  ports/esp32/Makefile
  ports/esp32/makeimg.py
Labels: port-esp32

#7644 tests/run-multitests.py: Add broadcast and wait facility.
  tests/run-multitests.py
Labels: tests

#7646 extmod/modlwip: Fix close and clean up of UDP and raw sockets.
  extmod/modlwip.c
  tests/multi_net/udp_data.py
Labels: extmod

#7647 mpremote: Fix listing when VID/PID are none, and add "devs" shortcut
  tools/mpremote/mpremote/main.py
Labels: tools

#7671 esp32/machine_pin: Make check for non-output pins respect chip variant.
  ports/esp32/machine_pin.c
Labels: port-esp32

#7674 tools/mpremote: Remove support for pyb.USB_VCP in/out specialisation.
  tools/mpremote/mpremote/pyboardextended.py
Labels: tools

#7717 drivers/cyw43: fix deinit, and make wifi join fail if not active
  drivers/cyw43/cyw43_ctrl.c
  extmod/network_cyw43.c
Labels: drivers
