Repository micropython/micropython, pull requests merged in 2021-06, with the labels that each got.

#7344 stm32/usb: Add USB_VCP.irq method, to set a callback on USB data RX.
  docs/library/pyb.USB_VCP.rst
  ports/stm32/mpconfigport.h
  ports/stm32/usb.c
  ports/stm32/usbd_cdc_interface.c
  ports/stm32/usbd_cdc_interface.h
Labels: port-stm32

#7380 esp32/makeimg.py: Load sizes from partition table and verify data fits.
  ports/esp32/makeimg.py
  ports/esp32/partitions-16MiB.csv
  ports/esp32/partitions-2MiB.csv
  ports/esp32/partitions-ota.csv
  ports/esp32/partitions.csv
Labels: port-esp32

#7395 tools/mpremote: Fix os import error and ctrl-C handling on Windows
  tools/mpremote/mpremote/console.py
  tools/mpremote/mpremote/main.py
  tools/mpremote/setup.cfg
Labels: tools

#7399 extmod/uasyncio: Fix race with cancelled task waiting on finished task.
  extmod/moduasyncio.c
  extmod/uasyncio/core.py
  extmod/uasyncio/task.py
  tests/extmod/uasyncio_cancel_wait_on_finished.py
  tests/extmod/uasyncio_cancel_wait_on_finished.py.exp
Labels: extmod

#7412 esp32/machine_sdcard: Use deinit_p to deinit SD bus in SPI mode.
  ports/esp32/machine_sdcard.c
Labels: port-esp32

#7422 esp32/boards/sdkconfig.base: Disable MEMPROT_FEATURE to alloc from IRAM.
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#7446 extmod/btstack: Check that BLE is active before performing operations.
  extmod/btstack/modbluetooth_btstack.c
Labels: extmod

#7445 stm32/usb: Make irq's default trigger enable all events.
  docs/library/pyb.USB_VCP.rst
  ports/stm32/usb.c
Labels: port-stm32

#7458 extmod/uasyncio: Get addr and bind server socket before creating task.
  extmod/uasyncio/stream.py
  tests/net_hosted/uasyncio_start_server.py
  tests/net_hosted/uasyncio_start_server.py.exp
Labels: extmod

#5412 tools/makemanifest.py: Allow passing flags to mpy-tool.py
  py/mkrules.mk
  tools/makemanifest.py
Labels: port-unix, tools

#7379 stm32/boardctrl: Skip running main.py if boot.py had an error.
  ports/stm32/boardctrl.c
Labels: port-stm32
