Repository micropython/micropython, pull requests merged in 2021-12, with the labels that each got.

#8061 tools/mpremote: Implement seek and flush in ioctl method.
  tools/mpremote/mpremote/pyboardextended.py
Labels: tools

#8076 tools/autobuild: Automatically build all esp32 boards.
  tools/autobuild/autobuild.sh
  tools/autobuild/build-boards.sh
  tools/autobuild/build-esp32-latest.sh
Labels: tools

#8077 esp32,esp8266: Extract qstr from object when comparing keys in config().
  ports/esp32/network_lan.c
  ports/esp32/network_wlan.c
  ports/esp8266/modnetwork.c
Labels: port-esp8266, port-esp32

#8101 esp8266/etshal.h: Remove unneeded function declarations.
  ports/esp8266/etshal.h
Labels: port-esp8266

#7751 Add help command to mpremote
  tools/mpremote/README.md
  tools/mpremote/mpremote/main.py
Labels: tools
