Repository micropython/micropython, pull requests merged in 2022-11, with the labels that each got.

#9732 docs/library: Add machine.memX to docs.
  docs/library/machine.rst
Labels: docs

#9899 extmod/extmod.mk: Set default mbedtls config file in extmod Makefile.
  extmod/extmod.mk
  ports/mimxrt/Makefile
  ports/stm32/Makefile
  ports/unix/Makefile
Labels: extmod

#9669 windows: Make project file read-only for IDE.
  ports/windows/micropython.vcxproj
Labels: port-windows

#9311 docs/library/pyb.CAN.rst: Update the recv example
  docs/library/pyb.CAN.rst
Labels: docs

#9968 Docs: Describe restriction on ThreadSafeFlag.
  docs/library/uasyncio.rst
Labels: docs

#9992 extmod/extmod.cmake: Add MICROPY_PY_BTREE compiler definition.
  extmod/extmod.cmake
  ports/esp32/mpconfigport.h
Labels: extmod

#9999 mimxrt: Tidy up mpconfigport.h.
  ports/mimxrt/mpconfigport.h
Labels: bug

#10001 extmod/moduplatform: Remove _M_IX86 test for xtensa.
  extmod/moduplatform.h
Labels: extmod

#10002 mpy-cross: Add MSVC compatible architecture checks.
  mpy-cross/main.c
Labels: py-core

#10044 py/makeversionhdr.py: Allow running outside of repo.
  py/makeversionhdr.py
Labels: py-core

#10045 esp32/boards/GENERIC_S3_SPIRAM: Enable BLE.
  ports/esp32/boards/GENERIC_S3_SPIRAM/mpconfigboard.h
Labels: port-esp32

#10037 tests/basics: Add test for cexample module.
  tests/misc/cexample_module.py
  tests/misc/cexample_module.py.exp
  tests/unix/extra_coverage.py
  tests/unix/extra_coverage.py.exp
Labels: tests

#9609 mpremote: Fix EDITOR env on windows
  tools/mpremote/mpremote/commands.py
Labels: tools

#10057 mpremote: only auto connect to serial device with USB VID/PID
  docs/reference/mpremote.rst
  tools/mpremote/README.md
  tools/mpremote/mpremote/commands.py
Labels: tools

#10095 py/bc: Fix checking for duplicate **kwargs.
  py/bc.c
  tests/basics/fun_calldblstar.py
Labels: py-core

#10059 stm32/mboot: Make all mboot sectors erase/write protected.
  ports/stm32/boards/LEGO_HUB_NO6/mboot_memory.ld
  ports/stm32/mboot/main.c
  ports/stm32/mboot/mboot.h
  ports/stm32/mboot/stm32_memory.ld
Labels: port-stm32
