Repository micropython/micropython, pull requests merged in 2022-12, with the labels that each got.

#10118 ports/stm32: Add missing LPUART macros for H7 HAL.
  ports/stm32/boards/stm32h7xx_hal_conf_base.h
Labels: port-stm32

#10143 docs/library/struct: Fix buffer argument description.
  docs/library/struct.rst
Labels: docs

#10144 docs/library/struct: Embed format tables.
  docs/library/struct.rst
Labels: docs

#10161 docs: Update URL to neopixel.py.
  docs/library/neopixel.rst
  docs/reference/glossary.rst
Labels: docs

#10111 docs: Update Python 3.9 status.
  docs/differences/python_39.rst
Labels: docs

#10110 doc: Add Python 3.10 page.
  docs/differences/index_template.txt
  docs/differences/python_310.rst
Labels: docs

#10129 Add I2C1 and I2C2 to the NUCLEO-F429ZI
  ports/stm32/boards/NUCLEO_F429ZI/mpconfigboard.h
Labels: port-stm32

#10190 extmod/uasyncio: Fix syntax of generator functions
  extmod/uasyncio/event.py
  extmod/uasyncio/funcs.py
  extmod/uasyncio/lock.py
  extmod/uasyncio/stream.py
Labels: extmod

#10214 esp32/usb: Cleanup connection detection.
  ports/esp32/usb.c
Labels: port-esp32

#10213 samd/boards/SEEED_XIAO: Rename to SEEED_XIAO_SAMD21.
  ports/samd/boards/SEEED_XIAO_SAMD21/board.json
  ports/samd/boards/SEEED_XIAO_SAMD21/mpconfigboard.h
  ports/samd/boards/SEEED_XIAO_SAMD21/mpconfigboard.mk
  ports/samd/boards/SEEED_XIAO_SAMD21/pins.csv
Labels: bug

#10193 nrf: Add board definitions for the Seeed XIAO NRF52840 Sense device.
  ports/nrf/boards/s140_7.3.0.ld
  ports/nrf/boards/seeed_xiao_nrf52/XIAO_bootloader.ld
  ports/nrf/boards/seeed_xiao_nrf52/board.c
  ports/nrf/boards/seeed_xiao_nrf52/board.json
  ports/nrf/boards/seeed_xiao_nrf52/deploy.md
  ports/nrf/boards/seeed_xiao_nrf52/mpconfigboard.h
  ports/nrf/boards/seeed_xiao_nrf52/mpconfigboard.mk
  ports/nrf/boards/seeed_xiao_nrf52/pins.csv
  ports/nrf/drivers/bluetooth/download_ble_stack.sh
Labels: port-nrf

#10154 ports/stm32: Improve standby mode entry code for H743/7.
  ports/stm32/powerctrl.c
Labels: port-stm32

#9871 ussl: Fix polling of SSL sockets
  extmod/modussl_mbedtls.c
  tests/extmod/ussl_basic.py.exp
  tests/extmod/ussl_poll.py
  tests/extmod/ussl_poll.py.exp
  tests/run-tests.py
Labels: extmod

#10225 py/emitnative: Initialise locals as Python object type for native code.
  py/emitnative.c
  tests/basics/assign_expr.py
  tests/basics/assign_expr.py.exp
Labels: py-core

#10242 build-boards.sh: Create the .uf2 file for seeed_xiao_nrf52.
  tools/autobuild/build-boards.sh
Labels: tools

#9438 ports/rp2: Fix lightsleep to work with interrupts and cyw43.
  ports/rp2/cyw43_configport.h
  ports/rp2/modmachine.c
  ports/rp2/mpnetworkport.c
Labels: port-rp2
