Repository micropython/micropython, pull requests merged in 2022-08, with the labels that each got.

#9042 windows/Makefile: Update test dependency on $(PROG).
  ports/windows/Makefile
  ports/windows/variants/standard/mpconfigvariant.mk
Labels: port-windows

#9066 all: Remove MICROPY_PY_IO_FILEIO config option.
  examples/embedding/mpconfigport_minimal.h
  extmod/vfs_fat_file.c
  extmod/vfs_lfsx_file.c
  extmod/vfs_posix_file.c
  ports/cc3200/mpconfigport.h
  ports/esp8266/mpconfigport.h
  ports/mimxrt/mpconfigport.h
  ports/nrf/mpconfigport.h
  ports/renesas-ra/mpconfigport.h
  ports/samd/mpconfigport.h
  ports/stm32/boards/B_L072Z_LRWAN1/mpconfigboard.h
  ports/stm32/boards/NUCLEO_F091RC/mpconfigboard.h
  ports/stm32/boards/NUCLEO_L073RZ/mpconfigboard.h
  ports/unix/mpconfigport.h
  ports/unix/variants/minimal/mpconfigvariant.h
  ports/windows/mpconfigport.h
  py/mpconfig.h
Labels: py-core

#9073 Rename the 'javascript' port to 'webassembly'.
  .github/workflows/ports_webassembly.yml
  ports/webassembly/Makefile
  ports/webassembly/README.md
  ports/webassembly/library.h
  ports/webassembly/library.js
  ports/webassembly/main.c
  ports/webassembly/modutime.c
  ports/webassembly/mpconfigport.h
  ports/webassembly/mphalport.c
  ports/webassembly/mphalport.h
  ports/webassembly/node_run.sh
  ports/webassembly/qstrdefsport.h
  ports/webassembly/wrapper.js
  tools/ci.sh
Labels: port-javascript

#9056 stm32: Move board variant config to mpconfigboard.mk.
  ports/stm32/Makefile
  ports/stm32/boards/PYBLITEV10/mpconfigboard.mk
  ports/stm32/boards/PYBV10/mpconfigboard.mk
  ports/stm32/boards/PYBV11/mpconfigboard.mk
  tools/autobuild/build-stm32-extra.sh
Labels: port-stm32

#9062 py/persistentcode: Clarify ValueError message when native emitter disabled.
  py/persistentcode.c
Labels: py-core

#9145 esp32/boards: Marge manifest_release modules into standard manifest.
  ports/esp32/boards/manifest.py
  ports/esp32/boards/manifest_release.py
  tools/autobuild/build-boards.sh
Labels: port-esp32

#9147 esp32/machine_sdcard: Free SPI bus when deiniting SD card.
  ports/esp32/machine_sdcard.c
Labels: port-esp32
