Repository micropython/micropython, pull requests merged in 2022-07, with the labels that each got.

#8863 rp2/mpconfigport: Factor core event handling to EVENT_POLL_HOOK_FAST.
  ports/rp2/mpconfigport.h
  ports/rp2/mphalport.c
  ports/rp2/rp2_pio.c
Labels: port-rp2

#8873 stm32: Allow boards to override fatal-error handler.
  ports/stm32/boardctrl.c
  ports/stm32/boardctrl.h
  ports/stm32/main.c
  ports/stm32/modmachine.c
  ports/stm32/pybthread.c
  ports/stm32/sdram.c
  ports/stm32/stm32_it.c
  ports/stm32/system_stm32.c
  ports/stm32/uart.c
Labels: port-stm32

#8931 webrepl: Allow the page to run from the device (over HTTP).
  extmod/webrepl/manifest.py
  extmod/webrepl/webrepl.py
  extmod/webrepl/webrepl_setup.py
  extmod/webrepl/websocket_helper.py
Labels: extmod

#8959 py/compile: Support large integers in inline-asm data directive.
  py/compile.c
  tests/inlineasm/asmdata.py
  tests/inlineasm/asmdata.py.exp
Labels: py-core

#8969 py/builtinimport: Remove duplicate static function argument.
  py/builtinimport.c
Labels: py-core
