Repository micropython/micropython, pull requests merged in 2022-01, with the labels that each got.

#8155 windows/appveyor: Build mpy-cross only once for mingw-w64.
  ports/windows/.appveyor.yml
Labels: port-windows

#8170 esp32/esp32_rmt: Install RMT driver on core 1.
  ports/esp32/esp32_rmt.c
  ports/esp32/machine_bitstream.c
  ports/esp32/modesp32.h
Labels: port-esp32

#8158 esp32/machine_bitstream: Reinstate bit-bang implementation.
  docs/esp32/quickref.rst
  docs/library/esp32.rst
  ports/esp32/esp32_rmt.c
  ports/esp32/machine_bitstream.c
  ports/esp32/modesp32.h
Labels: port-esp32

#4213 docs: Specify new machine.ADC and machine.ADCBlock classes
  docs/library/machine.ADC.rst
  docs/library/machine.ADCBlock.rst
  docs/library/machine.rst
Labels: docs
