Repository micropython/micropython, pull requests merged in 2022-06, with the labels that each got.

#8719 extmod/uasyncio: Fix edge case for cancellation of wait_for.
  extmod/uasyncio/funcs.py
  tests/extmod/uasyncio_wait_for.py
  tests/extmod/uasyncio_wait_for.py.exp
Labels: extmod

#8738 extmod/extmod.cmake: Require components to be explicitly enabled.
  extmod/extmod.cmake
  ports/esp32/main/CMakeLists.txt
  ports/rp2/CMakeLists.txt
Labels: extmod

#8743 py/parse: Work around xtensa esp-2020r3 compiler bug.
  ports/esp32/mpconfigport.h
  py/parse.c
Labels: port-esp32

#8759 py/makemoduledefs.py: Emit useful error for legacy MP_REGISTER_MODULE.
  py/makemoduledefs.py
Labels: py-core

#8768 extmod/machine_i2c: Only use WRITE1 option if transfer supports it.
  extmod/machine_i2c.c
  extmod/machine_i2c.h
  ports/esp32/machine_i2c.c
Labels: port-esp32, extmod

#6358 extmod/uasyncio: Implement stream read(-1) to read all data to EOF.
  docs/library/uasyncio.rst
  extmod/uasyncio/stream.py
  tests/multi_net/uasyncio_tcp_readall.py
  tests/multi_net/uasyncio_tcp_readall.py.exp
Labels: extmod

#8832 rp2/modmachine: Implement lightsleep() with optional sleep period.
  ports/rp2/CMakeLists.txt
  ports/rp2/modmachine.c
Labels: port-rp2
