Repository micropython/micropython, pull requests merged in 2022-09, with the labels that each got.

#9217 stm32/boards/LEGO_HUB_NO6: Update manifest to new format.
  ports/stm32/boards/LEGO_HUB_NO6/manifest.py
Labels: port-stm32

#9390 extmod/modbluetooth: Run BLE IRQ callback in protected NLR context.
  extmod/modbluetooth.c
Labels: extmod

#9412 esp32/machine_pwm: Don't use LEDC_USE_REF_TICK on ESP32-C3 variants.
  ports/esp32/machine_pwm.c
Labels: port-esp32
