Repository micropython/micropython, pull requests merged in 2023-02, with the labels that each got.

#10589 tools/mpy-tool.py: Initialize line_info_top
  tools/mpy-tool.py
Labels: tools

#10691 py/mkrules.cmake: Force build mpversion.h and frozen_content.c.
  py/mkrules.cmake
Labels: py-core

#10750 ports/stm32/boards/ARDUINO_PORTENTA_H7: Fix macro value check.
  ports/stm32/boards/ARDUINO_PORTENTA_H7/board_init.c
Labels: port-stm32

#10663 samd: Add the Pin.board and Pin.cpu classes to machine.Pin.
  ports/samd/boards/SEEED_WIO_TERMINAL/pins.csv
  ports/samd/boards/make-pin-table.py
  ports/samd/machine_pin.c
  ports/samd/mcu/samd21/mpconfigmcu.h
  ports/samd/mcu/samd51/mpconfigmcu.h
  ports/samd/modsamd.c
  ports/samd/pin_af.c
  ports/samd/pin_af.h
Labels: port-samd

#10821 tools/pyboard.py: Use '/' exclusively when dealing with paths.
  tools/pyboard.py
Labels: tools

#10822 py/modmath: Fix two-argument math function domain check.
  py/modmath.c
  tests/float/math_domain.py
Labels: py-core

#10882 stm32/cyw43_configport.h: Fix build for boards without an RF switch.
  ports/stm32/cyw43_configport.h
Labels: port-stm32
