Repository micropython/micropython, pull requests merged in 2023-03, with the labels that each got.

#10897 ports/stm32/cyw43_configport.h: All boards to override default files.
  ports/stm32/cyw43_configport.h
Labels: port-stm32

#10940 drivers/ninaw10: Fix machine_pin GPIO read.
  drivers/ninaw10/machine_pin_nina.c
Labels: drivers

#10924 ports/mimxrt: Enable ROM text compression.
  ports/mimxrt/Makefile
  ports/mimxrt/machine_led.c
  ports/mimxrt/machine_sdcard.c
Labels: port-mimxrt

#10935 rp2: Add function for reading BOOTSEL
  docs/library/rp2.rst
  ports/rp2/modrp2.c
  ports/rp2/mpconfigport.h
Labels: port-rp2

#10902 py/compile: Fix calculation of closures with assignment expressions.
  py/compile.c
  py/emit.h
  py/emitcommon.c
  tests/basics/assign_expr_scope.py
  tests/basics/assign_expr_scope.py.exp
  tests/basics/assign_expr_syntaxerror.py
  tests/basics/assign_expr_syntaxerror.py.exp
Labels: py-core

#10985 py/gc: Make gc_dump_info/gc_dump_alloc_table take a printer as argument.
  ports/minimal/main.c
  ports/nrf/modules/machine/modmachine.c
  ports/powerpc/main.c
  ports/renesas-ra/modmachine.c
  ports/stm32/modmachine.c
  ports/teensy/modpyb.c
  ports/unix/gccollect.c
  ports/zephyr/main.c
  py/gc.c
  py/gc.h
  py/modmicropython.c
  shared/runtime/pyexec.c
Labels: py-core

#10986 py/mpconfig: Provide config option for internal printf printer.
  py/mpconfig.h
  shared/libc/printf.c
Labels: py-core

#10988 py/builtinimport: Fix unix port build with external imports disabled.
  py/builtinimport.c
Labels: py-core

#9792 esp32/machine_pin:Fix size of machine_pin_irq_handler array.
  ports/esp32/machine_pin.c
Labels: port-esp32

#10996 samd: Provide always the machine.RTC class.
  ports/samd/mcu/samd21/mpconfigmcu.h
  ports/samd/mcu/samd51/mpconfigmcu.h
  ports/samd/modmachine.h
  ports/samd/modutime.c
  ports/samd/mpconfigport.h
Labels: port-samd

#11058 py/obj: Add MP_NOINLINE to mp_obj_malloc_helper.
  py/obj.c
Labels: py-core

#11003 nrf/I2C: Support the freq=n argument for machine.I2C.
  ports/nrf/modules/machine/i2c.c
Labels: port-nrf

#11051 extmod/vfs: Do not filter '..*' in ilistdir when filtering '..'.
  extmod/vfs_posix.c
  tests/extmod/vfs_posix_ilistdir_filter.py
  tests/extmod/vfs_posix_ilistdir_filter.py.exp
Labels: bug

#10971 py: Implement mp_sched_vm_abort() to force a return to the very top level (v2)
  py/mpconfig.h
  py/mpstate.h
  py/nlr.c
  py/nlr.h
  py/runtime.h
  py/scheduler.c
  py/vm.c
Labels: py-core

#10987 rp2: Fix setting of UART LCR parameters.
  ports/rp2/machine_uart.c
Labels: port-rp2

#11091 ports: Implement write polling for stdout.
  ports/esp32/mphalport.c
  ports/esp8266/esp_mphal.c
  ports/mimxrt/mphalport.c
  ports/nrf/drivers/bluetooth/ble_uart.c
  ports/nrf/drivers/usb/usb_cdc.c
  ports/nrf/mphalport.c
  ports/pic16bit/pic16bit_mphal.c
  ports/rp2/mphalport.c
  ports/samd/mphalport.c
  ports/teensy/teensy_hal.c
Labels: ports, port-esp8266, port-esp32, port-nrf, port-samd, port-mimxrt, port-rp2

#11144 py/obj: Fix spelling of staticmethod.
  py/obj.h
Labels: py-core

#11109 stm32/boards/ARDUINO_NICLA_VISION: Fix incorrect BL PID.
  ports/stm32/boards/ARDUINO_NICLA_VISION/mpconfigboard.mk
Labels: port-stm32
