Repository micropython/micropython, pull requests merged in 2023-09, with the labels that each got.

#12344 extmod/moddeflate: Change default window size.
  docs/library/deflate.rst
  extmod/moddeflate.c
  lib/uzlib/header.c
Labels: extmod

#12335 mboot: Fix fwupdate by replacing zlib with new deflate module.
  ports/stm32/mboot/fwupdate.py
Labels: port-stm32

#11915 stm32/uart: Fix UART timeout issue with low baudrate.
  ports/stm32/uart.c
Labels: port-stm32

#11813 docs/library/neopixel: Fix rst link syntax.
  docs/library/neopixel.rst
Labels: docs

#12297 examples/bluetooth: Link to aioble in BLE examples.
  examples/bluetooth/ble_advertising.py
  examples/bluetooth/ble_bonding_peripheral.py
  examples/bluetooth/ble_simple_central.py
  examples/bluetooth/ble_simple_peripheral.py
  examples/bluetooth/ble_temperature.py
  examples/bluetooth/ble_temperature_central.py
  examples/bluetooth/ble_uart_peripheral.py
Labels: examples

#12290 tests/unix/mod_os: Make os.system() test work on windows.
  tests/unix/mod_os.py
Labels: tests

#11983 Fixed `str % dict` edge case.
  py/objstr.c
  tests/basics/string_format_modulo.py
Labels: py-core

#12059 py/modstruct: Support pad bytes in struct format.
  py/modstruct.c
  tests/basics/struct1.py
Labels: py-core

#12123 mpy_ld.py: Support complex RO sections
  tools/mpy_ld.py
Labels: tools

#12301 py/dynruntime.h: Implement MP_OBJ_NEW_QSTR.
  py/dynruntime.h
  py/nativeglue.c
  py/runtime0.h
  tests/micropython/import_mpy_native_gc.py
  tools/mpy_ld.py
Labels: py-core

#12062 esp32/network: Add support for SO_BINDTODEVICE.
  ports/esp32/modnetwork.h
  ports/esp32/modsocket.c
  ports/esp32/network_common.c
  ports/esp32/network_lan.c
  ports/esp32/network_ppp.c
  ports/esp32/network_wlan.c
Labels: port-esp32

#12200 ports/esp32: Support JTAG console, free up UART.
  ports/esp32/machine_uart.c
  ports/esp32/main.c
  ports/esp32/mphalport.c
  ports/esp32/uart.c
  ports/esp32/uart.h
  ports/esp32/usb.c
Labels: port-esp32

#12236 esp32/machine_uart: Release GIL for blocking reads.
  ports/esp32/machine_uart.c
Labels: port-esp32

#12244 samd/main.c: Add /lib to sys.path.
  ports/samd/modules/_boot.py
Labels: port-samd

#11648 examples/natmod: Add features4 as a class definition example.
  examples/natmod/README.md
  examples/natmod/features4/Makefile
  examples/natmod/features4/features4.c
  tools/ci.sh
Labels: examples

#11803 rp2: Fix the display of timer properties.
  ports/rp2/machine_timer.c
Labels: port-rp2

#12159 ports/esp32: Added pins.csv to UM boards and other changes.
  ports/esp32/boards/UM_FEATHERS2/pins.csv
  ports/esp32/boards/UM_FEATHERS2/sdkconfig.board
  ports/esp32/boards/UM_FEATHERS2NEO/pins.csv
  ports/esp32/boards/UM_FEATHERS3/mpconfigboard.h
  ports/esp32/boards/UM_FEATHERS3/pins.csv
  ports/esp32/boards/UM_FEATHERS3/sdkconfig.board
  ports/esp32/boards/UM_PROS3/pins.csv
  ports/esp32/boards/UM_PROS3/sdkconfig.board
  ports/esp32/boards/UM_TINYPICO/pins.csv
  ports/esp32/boards/UM_TINYS2/pins.csv
  ports/esp32/boards/UM_TINYS3/pins.csv
  ports/esp32/boards/UM_TINYS3/sdkconfig.board
Labels: port-esp32

#12160 ports/esp32: Added new UM NanoS3 board.
  ports/esp32/boards/UM_NANOS3/board.json
  ports/esp32/boards/UM_NANOS3/board.md
  ports/esp32/boards/UM_NANOS3/deploy.md
  ports/esp32/boards/UM_NANOS3/manifest.py
  ports/esp32/boards/UM_NANOS3/modules/nanos3.py
  ports/esp32/boards/UM_NANOS3/mpconfigboard.cmake
  ports/esp32/boards/UM_NANOS3/mpconfigboard.h
  ports/esp32/boards/UM_NANOS3/pins.csv
  ports/esp32/boards/UM_NANOS3/sdkconfig.board
Labels: port-esp32

#12235 esp32/network_ppp: Block after deleting task.
  ports/esp32/network_ppp.c
Labels: port-esp32

#12158 py/modthread: Return thread id from start_new_thread().
  ports/cc3200/mpthreadport.c
  ports/esp32/mpthreadport.c
  ports/renesas-ra/mpthreadport.c
  ports/rp2/mpthreadport.c
  ports/stm32/mpthreadport.c
  ports/unix/mpthreadport.c
  py/modthread.c
  py/mpthread.h
  tests/thread/thread_ident1.py
Labels: py-core

#12142 extmod/modssl_mbedtls: supporting PSA interface and TLSv1.3
  extmod/modssl_mbedtls.c
Labels: extmod

#12348 esp32/boards/ARDUINO_NANO_ESP32: Clarify recovery instructions.
  ports/esp32/boards/ARDUINO_NANO_ESP32/deploy.md
Labels: port-esp32

#12274 docs/library/platform.rst: Add docs for the platform library
  docs/library/index.rst
  docs/library/platform.rst
Labels: docs

#12360 docs/library/network.rst: Clarify network.hostname.
  docs/library/network.rst
Labels: docs

#12355 docs/esp32/peripheral_access: Access to pins via registers.
  docs/esp32/tutorial/img/mem32_gpio_output.jpg
  docs/esp32/tutorial/peripheral_access.rst
Labels: docs, port-esp32

#12352 mimxrt/mpbthciport.c: Change the method of setting the baud rate.
  ports/mimxrt/machine_uart.c
  ports/mimxrt/modmachine.h
  ports/mimxrt/mpbthciport.c
Labels: port-mimxrt

#12252 ports/esp32: Skip validation of image on boot from deepsleep.
  docs/library/esp32.rst
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#12370 multi_net: Increase asyncio tests timeouts.
  tests/multi_net/asyncio_tcp_close_write.py
  tests/multi_net/asyncio_tcp_readall.py
  tests/multi_net/asyncio_tcp_readexactly.py
Labels: tests

#12230 stm32/timer: Fix PWM on Advanced Timer peripherals.
  ports/stm32/timer.c
Labels: port-stm32

#12420 ports/esp32: Fix Null pointer access in machine_pin_find.
  ports/esp32/machine_pin.c
Labels: port-esp32

#10888 esp32/mphalport: Add _FUNCTION_, _LINE_, _FILE_ info to check_esp_err().
  ports/esp32/mphalport.c
  ports/esp32/mphalport.h
Labels: port-esp32

#12434 py/nlrx64: Mark nlr_push() as naked function when possible.
  py/nlrx64.c
Labels: py-core

#12493 esp32: fix Partition.writeblocks partial write corruption
  ports/esp32/esp32_partition.c
Labels: port-esp32

#12152 stm32/machine_adc: Add STM32H5 support.
  ports/stm32/machine_adc.c
Labels: port-stm32

#12218 ports/stm32: Added STM32H5 DAC/dma_nohal support.
  ports/stm32/dac.c
  ports/stm32/dma.c
  ports/stm32/dma.h
Labels: port-stm32

#12536 tests/stress/bytecode_limit.py: Reverse order of cases.
  tests/stress/bytecode_limit.py
  tests/stress/bytecode_limit.py.exp
Labels: tests

#12485 py/mkrules: Don't strip binary if STRIP variable is unset.
  ports/unix/Makefile
  ports/unix/README.md
  py/mkrules.mk
Labels: port-unix

#12520 py: Change ifdef DEBUG_PRINT to if DEBUG_PRINT.
  py/emitglue.c
  py/emitnative.c
Labels: py-core

#12535 py/lexer: Add missing initialisation for fstring_args_idx.
  py/lexer.c
Labels: py-core

#12529 ports/ESP32: Fixed VBAT voltage calc for UM S3 boards.
  ports/esp32/boards/UM_FEATHERS3/modules/feathers3.py
  ports/esp32/boards/UM_PROS3/modules/pros3.py
  ports/esp32/boards/UM_TINYS3/modules/tinys3.py
Labels: port-esp32

#12537 {mimxrt,powerpc,samd}/mpconfigport: Don't override parse chunk alloc.
  ports/mimxrt/mpconfigport.h
  ports/minimal/mpconfigport.h
  ports/powerpc/mpconfigport.h
  ports/samd/mpconfigport.h
Labels: ports

#12538 */board.json: Restrict to standard features.
  ports/esp32/boards/UM_NANOS3/board.json
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/board.json
Labels: ports

#12539 tools/autobuild/build-downloads.py: Verify standard features.
  tools/autobuild/build-downloads.py
Labels: tools

#12500 mpremote: Add rfc2217, serial over tcp.
  docs/reference/mpremote.rst
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#10803 ports/rp2: fix lightsleep while wifi is powered off
  ports/rp2/modmachine.c
Labels: port-rp2

#12475 esp32: Add bootloader rollback support for all boards.
  ports/esp32/boards/ARDUINO_NANO_ESP32/sdkconfig.board
  ports/esp32/boards/ESP32_GENERIC/sdkconfig.ota
  ports/esp32/boards/SIL_WESP32/sdkconfig.board
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#12426 ports/esp32: Override the MP_TASK_STACK_SIZE.
  ports/esp32/main.c
  ports/esp32/mpconfigport.h
Labels: port-esp32

#12450 stm32/boards/ARDUINO_GIGA: Update board config.
  ports/stm32/boards/ARDUINO_GIGA/mpconfigboard.h
Labels: port-stm32

#12387 tests/multi_net: Update ssl_cert_rsa test cert.
  tests/multi_net/ssl_cert_rsa.py
Labels: tests

#12396 machine_bios.py: Fix typo.
  examples/unix/machine_bios.py
Labels: examples

#12548 extmod/btstack/btstack_hci_uart: Trigger a poll after UART data is sent.
  extmod/btstack/btstack_hci_uart.c
Labels: extmod
