Repository micropython/micropython, pull requests merged in 2023-08, with the labels that each got.

#10235 py/gc: Speed up incremental GC cycles by tracking the high watermark.
  py/gc.c
  py/mpstate.h
Labels: py-core

#12165 docs/gettingstarted: Clarify submodule initialization.
  docs/develop/gettingstarted.rst
Labels: docs

#12147 docs: update latest Arm package names
  docs/develop/gettingstarted.rst
Labels: docs

#12196 tools/mpy-tool.py: Use isinstance() for type checking.
  tools/mpy-tool.py
Labels: tools

#12199 tools/codeformat: Skip ESP-IDF managed components.
  tools/codeformat.py
Labels: tools

#12181 mpremote: Make soft-reset count as an action.
  tools/mpremote/mpremote/commands.py
Labels: tools

#12229 esp32/gccollect: Make level arg volatile to force recursive function.
  ports/esp32/gccollect.c
Labels: port-esp32

#12128 ports/mimxrt: Add support for UART hardware flow control.
  ports/mimxrt/boards/MIMXRT1010_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1015_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1020_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1050_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1060_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1064_EVK/mpconfigboard.h
  ports/mimxrt/boards/MIMXRT1170_EVK/mpconfigboard.h
  ports/mimxrt/boards/OLIMEX_RT1010/mpconfigboard.h
  ports/mimxrt/boards/SEEED_ARCH_MIX/mpconfigboard.h
  ports/mimxrt/boards/TEENSY40/mpconfigboard.h
  ports/mimxrt/boards/TEENSY41/mpconfigboard.h
  ports/mimxrt/machine_uart.c
Labels: port-mimxrt

#12129 ports/mimxrt: Add support for GPIO control of SNVS pins.
  ports/mimxrt/boards/MIMXRT1062_af.csv
  ports/mimxrt/boards/MIMXRT1176_af.csv
  ports/mimxrt/boards/make-pins.py
  ports/mimxrt/boards/mimxrt_prefix.c
Labels: port-mimxrt

#12192 ports/mimxrt: Make flash clock frequency configurable.
  ports/mimxrt/Makefile
  ports/mimxrt/hal/qspi_hyper_flash_config.c
  ports/mimxrt/hal/qspi_nor_flash_config.c
Labels: port-mimxrt

#12246 mimxrt: Fix UART RTS/CTS assignments for the OLIMEX and Adafruit boards.
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/mpconfigboard.h
  ports/mimxrt/boards/OLIMEX_RT1010/mpconfigboard.h
Labels: port-mimxrt
