Repository micropython/micropython, pull requests merged in 2023-10, with the labels that each got.

#12482 mimxrt/rtc: Improve the RTC initialisation during start-up.
  ports/mimxrt/Makefile
  ports/mimxrt/machine_rtc.c
Labels: port-mimxrt

#12555 fix typo: ports/rp2/README.md
  ports/rp2/README.md
Labels: port-rp2

#12560 Rename all Arduino boards' LED pins more consistently.
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/pins.csv
  ports/rp2/boards/ARDUINO_NANO_RP2040_CONNECT/pins.csv
  ports/stm32/boards/ARDUINO_GIGA/mpconfigboard.h
  ports/stm32/boards/ARDUINO_GIGA/pins.csv
  ports/stm32/boards/ARDUINO_NICLA_VISION/mpconfigboard.h
  ports/stm32/boards/ARDUINO_NICLA_VISION/pins.csv
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
  ports/stm32/boards/ARDUINO_PORTENTA_H7/pins.csv
Labels: port-stm32, port-rp2, port-renesas-ra

#12503 docs: Add dependencies for sphinx to 'Build docs' action.
  .github/workflows/docs.yml
  docs/develop/gettingstarted.rst
  docs/requirements.txt
Labels: docs

#8895 uasyncio/stream.py: Handle cancellation before server start.
  extmod/asyncio/stream.py
  tests/net_hosted/asyncio_start_server.py
  tests/net_hosted/asyncio_start_server.py.exp
Labels: extmod

#12575 esp32/boards/ARDUINO_NANO_ESP32: Use Arduino USB IDs.
  ports/esp32/boards/ARDUINO_NANO_ESP32/sdkconfig.board
Labels: port-esp32

#12576 extmod/vfs_posix_file: Fix flush handling in msvc builds.
  extmod/vfs_posix_file.c
Labels: extmod

#12578 ports/stm32/i2c: Fix the code to support I2C4.
  ports/stm32/i2c.c
Labels: port-stm32

#12593 rp2: Enable debug symbols in all builds.
  ports/rp2/CMakeLists.txt
Labels: port-rp2

#12582 esp32: Freeze aioespnow module into ESP32 firmware by default.
  ports/esp32/boards/manifest.py
  ports/esp8266/boards/manifest.py
Labels: port-esp32

#12594 esp8266/boards: Remove urllib from the 2MiB manifest.
  ports/esp8266/boards/ESP8266_GENERIC/manifest_2MiB.py
Labels: port-esp8266

#12595 rp2: Implement time.time_ns with time_us_64 so it has us resolution.
  ports/rp2/machine_rtc.c
  ports/rp2/main.c
  ports/rp2/mphalport.c
  ports/rp2/mphalport.h
Labels: port-rp2

#12581 all: Switch to new versioning scheme described in #12127.
  docs/conf.py
  docs/templates/layout.html
  ports/cc3200/tools/update-wipy.py
  py/makeversionhdr.py
  py/modsys.c
  py/mpconfig.h
  tools/autobuild/autobuild.sh
  tools/autobuild/remove_old_firmware.py
  tools/mpremote/pyproject.toml
Labels: py-core

#12621 py/vm.c: don't complain about "raise … from None".
  py/vm.c
  tests/basics/exception_chain.py
  tests/basics/exception_chain.py.exp
Labels: bug, py-core

#12615 mimxrt/LED: Fix the the machine.LED class.
  ports/mimxrt/led.c
  ports/mimxrt/main.c
Labels: port-mimxrt

#12643 esp32/modespnow.c: Fix: Wrap code in MICROPY_PY_ESPNOW directive.
  ports/esp32/main.c
  ports/esp32/modespnow.c
  ports/esp32/mpconfigport.h
  ports/esp8266/Makefile
  ports/esp8266/boards/ESP8266_GENERIC/mpconfigboard.mk
  ports/esp8266/main.c
  ports/esp8266/modespnow.c
Labels: port-esp32

#12662 ports/boot: Skip execution of main.py if boot.py fails.
  ports/esp32/main.c
  ports/esp8266/main.c
  ports/nrf/main.c
  ports/rp2/main.c
Labels: port-esp8266, port-esp32, port-nrf, port-rp2

#12526 py/builtinevex: Handle invalid filenames for execfile.
  extmod/vfs_reader.c
  mpy-cross/main.c
  ports/esp8266/main.c
  ports/minimal/main.c
  ports/nrf/main.c
  ports/pic16bit/main.c
  ports/powerpc/main.c
  ports/qemu-arm/main.c
  ports/qemu-arm/test_main.c
  ports/teensy/lexerfrozen.c
  ports/unix/main.c
  ports/webassembly/main.c
  ports/zephyr/main.c
  py/builtinevex.c
  py/builtinimport.c
  py/lexer.c
  py/lexer.h
  py/persistentcode.c
  py/persistentcode.h
  py/reader.c
  py/reader.h
  shared/memzip/lexermemzip.c
  shared/runtime/pyexec.c
  tests/micropython/builtin_execfile.py
  tests/micropython/builtin_execfile.py.exp
Labels: py-core

#12669 extmod/moductypes: Validate that uctypes.struct addr argument is an int.
  extmod/moductypes.c
  tests/extmod/uctypes_error.py
  tests/extmod/uctypes_error.py.exp
Labels: extmod

#12682 io: Remove FileIO and TextIOWrapper
  docs/library/io.rst
Labels: docs

#12663 stm32/boards/ARDUINO_GIGA: Add QSPI fix/workaround to early init.
  ports/stm32/boards/ARDUINO_GIGA/board_init.c
Labels: port-stm32

#12647 rp2/CYW43: Use m_tracked_calloc and m_tracked_free for CYW43 malloc.
  ports/rp2/boards/RPI_PICO_W/mpconfigboard.cmake
  ports/rp2/cyw43_configport.h
Labels: port-rp2

#12705 boards/ARDUINO_GIGA: Fix board init pins.
  ports/stm32/boards/ARDUINO_GIGA/board_init.c
Labels: port-stm32

#12646 extmod/machine_wdt: Factor WDT Python bindings to common code.
  extmod/extmod.cmake
  extmod/extmod.mk
  extmod/machine_wdt.c
  extmod/modmachine.h
  ports/cc3200/application.mk
  ports/cc3200/mods/machine_wdt.c
  ports/cc3200/mods/modmachine.c
  ports/cc3200/mods/pybwdt.h
  ports/cc3200/mpconfigport.h
  ports/esp32/esp32_common.cmake
  ports/esp32/machine_wdt.c
  ports/esp32/modmachine.c
  ports/esp32/modmachine.h
  ports/esp32/mpconfigport.h
  ports/esp8266/Makefile
  ports/esp8266/machine_wdt.c
  ports/esp8266/modmachine.c
  ports/esp8266/mpconfigport.h
  ports/mimxrt/Makefile
  ports/mimxrt/machine_wdt.c
  ports/mimxrt/modmachine.c
  ports/mimxrt/modmachine.h
  ports/mimxrt/mpconfigport.h
  ports/renesas-ra/modmachine.h
  ports/rp2/CMakeLists.txt
  ports/rp2/machine_wdt.c
  ports/rp2/modmachine.c
  ports/rp2/modmachine.h
  ports/rp2/mpconfigport.h
  ports/samd/Makefile
  ports/samd/machine_wdt.c
  ports/samd/modmachine.c
  ports/samd/modmachine.h
  ports/samd/mpconfigport.h
  ports/stm32/Makefile
  ports/stm32/machine_wdt.c
  ports/stm32/modmachine.c
  ports/stm32/mpconfigport.h
Labels: extmod

#12752 extmod/machine_pwm: Remove header file and move decls to .c file.
  extmod/machine_pwm.c
  extmod/machine_pwm.h
  extmod/modmachine.h
  ports/esp32/machine_pwm.c
  ports/esp32/modmachine.c
  ports/esp8266/machine_pwm.c
  ports/esp8266/modmachine.c
  ports/mimxrt/machine_pwm.c
  ports/mimxrt/modmachine.h
  ports/nrf/modules/machine/modmachine.c
  ports/nrf/modules/machine/pwm.c
  ports/nrf/modules/machine/pwm.h
  ports/nrf/modules/machine/soft_pwm.c
  ports/renesas-ra/machine_pwm.c
  ports/renesas-ra/modmachine.c
  ports/rp2/machine_pwm.c
  ports/rp2/modmachine.c
  ports/samd/machine_pwm.c
  ports/samd/modmachine.h
Labels: extmod

#12659 extmod/machine_adc: Factor common Python bindings from ports to extmod.
  extmod/extmod.cmake
  extmod/extmod.mk
  extmod/machine_adc.c
  extmod/modmachine.h
  ports/esp32/esp32_common.cmake
  ports/esp32/machine_adc.c
  ports/esp32/machine_adc.h
  ports/esp32/machine_adcblock.c
  ports/esp32/modmachine.c
  ports/esp32/modmachine.h
  ports/esp32/mpconfigport.h
  ports/esp8266/Makefile
  ports/esp8266/machine_adc.c
  ports/esp8266/modmachine.c
  ports/esp8266/modmachine.h
  ports/esp8266/mpconfigport.h
  ports/mimxrt/Makefile
  ports/mimxrt/machine_adc.c
  ports/mimxrt/modmachine.c
  ports/mimxrt/modmachine.h
  ports/mimxrt/mpconfigport.h
  ports/nrf/Makefile
  ports/nrf/modules/machine/adc.c
  ports/nrf/modules/machine/adc.h
  ports/nrf/modules/machine/modmachine.c
  ports/nrf/mpconfigport.h
  ports/renesas-ra/Makefile
  ports/renesas-ra/machine_adc.c
  ports/renesas-ra/modmachine.c
  ports/renesas-ra/modmachine.h
  ports/renesas-ra/mpconfigport.h
  ports/rp2/CMakeLists.txt
  ports/rp2/machine_adc.c
  ports/rp2/modmachine.c
  ports/rp2/modmachine.h
  ports/rp2/mpconfigport.h
  ports/samd/Makefile
  ports/samd/machine_adc.c
  ports/samd/modmachine.h
  ports/samd/mpconfigport.h
  ports/stm32/Makefile
  ports/stm32/machine_adc.c
  ports/stm32/mboot/Makefile
  ports/stm32/mboot/adc.c
  ports/stm32/modmachine.c
  ports/stm32/modmachine.h
  ports/stm32/mpconfigport.h
Labels: extmod

#12779 py/asm{arm,thumb,x64,x86,xtensa}: Remove unused macros.
  py/asmarm.h
  py/asmthumb.h
  py/asmx64.h
  py/asmx86.h
  py/asmxtensa.h
Labels: py-core

#12775 extmod/network_ninaw10.c: Fix select flags handling in sockets poll.
  extmod/network_ninaw10.c
Labels: extmod

#12626 esp32/network_ppp: Build with no IPv6 support.
  ports/esp32/network_ppp.c
Labels: port-esp32

#12725 ports/esp32: Poll serial/JTAG for unread data to prevent blocking.
  ports/esp32/mphalport.c
  ports/esp32/usb_serial_jtag.c
  ports/esp32/usb_serial_jtag.h
Labels: port-esp32

#12726 ports/esp32: Support overriding the default Bluetooth GAP name.
  ports/esp32/mpconfigport.h
Labels: port-esp32

#12727 esp32/machine_uart: Add error checking for IDF API's.
  ports/esp32/machine_uart.c
Labels: port-esp32

#12728 esp32/network_ppp: Reduce PPP thread CPU usage.
  ports/esp32/network_ppp.c
Labels: port-esp32

#12730 esp32/mbedtls: Disable ALPN support.
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#12782 esp32 : fix for #7158 - machine.deepsleep() not behaving as expected
  ports/esp32/modmachine.c
Labels: port-esp32
