Repository micropython/micropython, pull requests merged in 2023-07, with the labels that each got.

#11893 stm32: Update modmachine.h.
  ports/stm32/modmachine.h
Labels: port-stm32

#11914 esp32/network_wlan: Only wait for WIFI_EVENT_STA_START on STA_IF.
  ports/esp32/modnetwork.h
  ports/esp32/network_lan.c
  ports/esp32/network_wlan.c
Labels: port-esp32

#11986 docs/esp32: Add example for version of WT32-ETH01 v1.4.
  docs/esp32/quickref.rst
Labels: port-esp32

#11913 stm32: Fix dac.write_timed() does not work.
  ports/stm32/dac.c
Labels: port-stm32

#11931 stm32/qspi.c: Allow qspi_write_cmd_data to write cmd with 1 data byte.
  ports/stm32/qspi.c
Labels: port-stm32

#11557 py/compile: Fix async for's stack handling of iterator expression.
  py/compile.c
  tests/basics/async_for.py
  tests/basics/async_for.py.exp
Labels: py-core

#11927 py/builtinimport: Fix for external-import disabled.
  py/builtinimport.c
Labels: py-core

#11994 esp32/machine_timer: Switch from legacy driver to timer HAL.
  ports/esp32/boards/sdkconfig.base
  ports/esp32/machine_timer.c
Labels: port-esp32

#12052 py/runtime: Always initialise sched_state in mp_init.
  py/runtime.c
Labels: py-core

#12074 esp32/boards/ARDUINO_NANO_ESP32: Fix deploy instructions.
  ports/esp32/boards/ARDUINO_NANO_ESP32/board.json
Labels: port-esp32

#12060 ports/esp32: Remove unused mbedtls debug function.
  ports/esp32/main.c
Labels: port-esp32

#12056 py/mpconfig: Add MICROPY_PY_PLATFORM.
  ports/esp32/mpconfigport.h
  ports/mimxrt/mpconfigport.h
  ports/renesas-ra/mpconfigport.h
  ports/stm32/mpconfigport.h
  py/mpconfig.h
  tests/unix/extra_coverage.py.exp
Labels: extmod

#12086 esp32: fix SPI construction
  ports/esp32/machine_hw_spi.c
Labels: port-esp32

#12081 tools/autobuild: Add support for application .bin files for esp32.
  tools/autobuild/build-boards.sh
Labels: tools

#12100 ports/unix/README.md: Fix Markdown link markup.
  ports/unix/README.md
Labels: port-unix
