Repository micropython/micropython, pull requests merged in 2023-04, with the labels that each got.

#11076 pyboard: Fix espxx boards hanging in bootloader after reset button.
  tools/pyboard.py
Labels: tools

#11170 stm32/flash.c: Fix get_bank function for STM32H750.
  ports/stm32/flash.c
Labels: port-stm32

#11129 drivers/ninaw10: Fix ESP input only pins.
  drivers/ninaw10/machine_pin_nina.c
Labels: drivers

#11151 extmod/network_ninaw10.c: Check socket types when creating new sockets.
  extmod/network_ninaw10.c
Labels: extmod

#11008 extmod/network_cyw43: Fix setting hostname using config() method.
  extmod/network_cyw43.c
Labels: bug, port-stm32

#11198 extmod/network_ninaw10.c: Add missing raw socket type to socket().
  extmod/network_ninaw10.c
Labels: bug

#11189 ports/mimxrt/pendsv.c: Clean up pendsv.c code.
  ports/mimxrt/pendsv.c
Labels: port-mimxrt

#10833 rp2: Do not format the file system in response to Ctrl+C.
  ports/esp32/main.c
  ports/esp8266/main.c
  ports/mimxrt/main.c
  ports/minimal/main.c
  ports/nrf/main.c
  ports/powerpc/main.c
  ports/renesas-ra/main.c
  ports/rp2/main.c
  ports/samd/main.c
  ports/stm32/main.c
  ports/teensy/main.c
  shared/runtime/pyexec.c
  shared/runtime/pyexec.h
Labels: py-core

#11162 tools/manifestfile.py: Add support for publishing to PyPI.
  tools/manifestfile.py
Labels: tools

#10805 Fix processing of CPP output from GreenHills C/C++ compiler
  py/makeqstrdefs.py
Labels: py-core

#10965 ports/mimxrt: Allow configuring different network interfaces.
  ports/mimxrt/eth.c
  ports/mimxrt/mpconfigport.h
  ports/mimxrt/network_lan.c
Labels: port-mimxrt

#11227 ports/mimxrt: Implement machine.bootloader().
  ports/mimxrt/Makefile
  ports/mimxrt/modmachine.c
Labels: port-mimxrt

#11248 mimxrt: Fix the build for boards without ROM API.
  ports/mimxrt/Makefile
  ports/mimxrt/modmachine.c
Labels: port-mimxrt

#11201 tools/mpremote/mpremote: Additonal mpremote disconnect shortcut.
  tools/mpremote/mpremote/repl.py
Labels: tools

#11310 extmod/btstack: Switch to use hci_dump_init instead of hci_dump_open.
  extmod/btstack/btstack.mk
  extmod/btstack/btstack_config_common.h
  ports/stm32/mpbtstackport.c
  ports/unix/mpbtstackport_common.c
Labels: port-stm32, extmod, port-unix
