Repository micropython/micropython, pull requests merged in 2023-11, with the labels that each got.

#12844 esp32/boards: Reduce size of D2WD and OTA firmware.
  ports/esp32/boards/ESP32_GENERIC/sdkconfig.d2wd
  ports/esp32/boards/ESP32_GENERIC/sdkconfig.ota
Labels: port-esp32

#12839 py/mkrules, esp32: Use better build settings for ESP32-C3.
  ports/esp32/esp32_common.cmake
  ports/esp32/main_esp32c3/CMakeLists.txt
  py/mkrules.cmake
Labels: port-esp32

#12866 py/misc: Change sizeof to offsetof for variable-length alloc.
  extmod/modre.c
  extmod/nimble/modbluetooth_nimble.c
  extmod/vfs_lfsx_file.c
  ports/unix/coverage.c
  py/misc.h
  py/modthread.c
  py/objexcept.c
  py/objfun.c
  py/objnamedtuple.c
  py/objtuple.c
  py/objtype.c
Labels: py-core

#12706 stm32: Add analog switches configuration.
  ports/stm32/boards/ARDUINO_GIGA/mpconfigboard.h
  ports/stm32/boards/ARDUINO_NICLA_VISION/board_init.c
  ports/stm32/boards/ARDUINO_NICLA_VISION/mpconfigboard.h
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
  ports/stm32/system_stm32.c
Labels: port-stm32

#12761 ports/stm32h5: add sleep modes and RTC alarm wakeup
  ports/stm32/modmachine.c
  ports/stm32/powerctrl.c
  ports/stm32/powerctrlboot.c
  ports/stm32/rtc.c
Labels: port-stm32

#12787 ports/rp2/machine_uart.c: fix handling of serial break condition
  ports/rp2/machine_uart.c
Labels: port-rp2

#12797 rp2/machine_adc: Refactor channel/pin code.
  ports/rp2/machine_adc.c
Labels: port-rp2

#12837 port/rp2: Make tickless, remove 1ms timeout when idle.
  ports/rp2/modmachine.c
  ports/rp2/mpconfigport.h
Labels: port-rp2

#12867 stm32/boards/make-pins.py: Fix H7 ADC generation.
  ports/stm32/boards/make-pins.py
Labels: port-stm32

#12880 stm32/boards/make-pins.py: Only support ADC1-3.
  ports/stm32/boards/make-pins.py
Labels: port-stm32

#12859 tools/tinytest-codegen, qemu-arm: Externalise tests list.
  ports/qemu-arm/Makefile.test
  ports/qemu-arm/tests_profile.txt
  tools/tinytest-codegen.py
Labels: tools

#12809 extmod/machine_adc_block: Factor esp32 ADCBlock code to common.
  docs/library/machine.ADCBlock.rst
  extmod/extmod.cmake
  extmod/extmod.mk
  extmod/machine_adc_block.c
  extmod/modmachine.h
  ports/esp32/adc.c
  ports/esp32/adc.h
  ports/esp32/esp32_common.cmake
  ports/esp32/machine_adc.c
  ports/esp32/machine_adc.h
  ports/esp32/machine_adc_block.c
  ports/esp32/machine_adcblock.c
  ports/esp32/machine_adcblock.h
  ports/esp32/modmachine.c
  ports/esp32/modmachine.h
  ports/esp32/mpconfigport.h
  ports/renesas-ra/modmachine.h
Labels: extmod

#9970 Use MicroPython logo as executable icon
  .gitattributes
  logo/vector-logo-2.ico
  ports/windows/Makefile
  ports/windows/README.md
  ports/windows/micropython.rc
  ports/windows/micropython.vcxproj
  py/mkenv.mk
Labels: port-windows

#12916 extmod/machine_i2c: Do a fast poll during I2C.scan().
  extmod/machine_i2c.c
Labels: extmod

#12742 mimxrt: Change the UART pin assignment of the OLIMEX RT1010 board.
  docs/mimxrt/pinout.rst
  ports/mimxrt/boards/OLIMEX_RT1010/mpconfigboard.h
Labels: port-mimxrt

#12784 Change esp32.RMT.source_freq() to class method
  docs/library/esp32.rst
  ports/esp32/esp32_rmt.c
Labels: port-esp32, maintainer-queue

#12909 stm32/boards/NUCLEO_WL55: Freeze LoRa driver.
  ports/stm32/boards/NUCLEO_WL55/manifest.py
  ports/stm32/boards/NUCLEO_WL55/mpconfigboard.mk
Labels: port-stm32

#12832 extmod/modbluetooth: Initialise nlr_jump_callback_top for IRQ handlers.
  extmod/modbluetooth.c
Labels: extmod

#12897 extmod/vfs_posix_file: Make standard file objects non-const.
  extmod/vfs_posix_file.c
Labels: extmod

#12936 samd/mphalport: Run TinyUSB stack while waiting for CDC input/output.
  ports/samd/mphalport.c
Labels: port-samd

#12512 stm32/mpu: Enable STM32WB mpu use to support qspi flash.
  ports/stm32/mpu.h
Labels: port-stm32, drivers

#12982 stm32/boards/NUCLEO_F446RE: Add UART1, 3 and 4
  ports/stm32/boards/NUCLEO_F446RE/mpconfigboard.h
Labels: port-stm32

#12176 ports/stm32: Added new NUCLEO-H563ZI board.
  ports/stm32/boards/NUCLEO_H563ZI/board.json
  ports/stm32/boards/NUCLEO_H563ZI/mpconfigboard.h
  ports/stm32/boards/NUCLEO_H563ZI/mpconfigboard.mk
  ports/stm32/boards/NUCLEO_H563ZI/pins.csv
  ports/stm32/boards/NUCLEO_H563ZI/stm32h5xx_hal_conf.h
Labels: port-stm32, board-definition

#12962 py/obj.h: Fix mp_obj_is_type compilation with C++.
  examples/usercmodule/cppexample/example.cpp
  py/misc.h
  py/obj.h
Labels: py-core

#12978 renesas-ra/boards/ARDUINO_PORTENTA_C33: Fix incorrect I2C pins.
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/mpconfigboard.h
Labels: port-renesas-ra

#12923 esp32: Implement socket connect timeout.
  ports/esp32/modsocket.c
Labels: port-esp32

#12924 esp32: Try garbage collection if the socket limit has been reached.
  ports/esp32/modsocket.c
Labels: port-esp32

#13039 py/objslice: Validate that the argument to indices() is an integer.
  py/objslice.c
  tests/basics/slice_indices.py
Labels: py-core

#12913 esp32/uart: Preserve console UART clock, fix UART console with DFS.
  ports/esp32/uart.c
Labels: port-esp32

#12968 esp32/network: Use non-PSRAM Wi-Fi settings if PSRAM fails to initialise
  ports/esp32/network_wlan.c
Labels: port-esp32

#12932 esp32/network_wlan: Fix network.WLAN.status().
  ports/esp32/network_wlan.c
Labels: port-esp32

#13027 esp32/esp32_rmt: Fix RMT looping
  ports/esp32/esp32_rmt.c
Labels: port-esp32

#12927 py/mkrules.mk: Add support for custom manifest variables.
  py/mkrules.cmake
  py/mkrules.mk
Labels: py-core

#13038 ports/stm32: Add missing header include for debug build.
  ports/stm32/i2c.c
  ports/stm32/machine_i2s.c
  ports/stm32/pin_static_af.h
  ports/stm32/spi.c
Labels: port-stm32
