Repository micropython/micropython, pull requests merged in 2023-12, with the labels that each got.

#10613 stm32/i2s: Improve accuracy of SCK frequency.
  ports/stm32/Makefile
  ports/stm32/boards/plli2svalues.py
  ports/stm32/machine_i2s.c
Labels: port-stm32

#7298 esp32/machine_rtc: Preserve RTC user memory over most reset causes.
  ports/esp32/machine_rtc.c
Labels: port-esp32, maintainer-queue

#13140 tests/run-tests.py: Skip Thumb2 tests if target doesn't support them.
  tests/feature_check/inlineasm_thumb2.py
  tests/feature_check/inlineasm_thumb2.py.exp
  tests/run-tests.py
Labels: tests

#13067 ports/esp32: Disable unused mbedtls options.
  ports/esp32/boards/sdkconfig.base
Labels: port-esp32

#13199 extmod/modssl_mbedtls: Fix parsing of ciphers in set_ciphers method.
  extmod/modssl_mbedtls.c
Labels: extmod

#11897 extmod/asyncio: Add ssl support with SSLContext.
  .gitattributes
  extmod/asyncio/stream.py
  extmod/modssl_mbedtls.c
  tests/multi_net/asyncio_tls_server_client.py
  tests/multi_net/asyncio_tls_server_client.py.exp
  tests/multi_net/asyncio_tls_server_client_cert_required_error.py
  tests/multi_net/asyncio_tls_server_client_cert_required_error.py.exp
  tests/multi_net/asyncio_tls_server_client_readline.py
  tests/multi_net/asyncio_tls_server_client_readline.py.exp
  tests/multi_net/asyncio_tls_server_client_verify_error.py
  tests/multi_net/asyncio_tls_server_client_verify_error.py.exp
  tests/net_inet/asyncio_tls_open_connection_readline.py
  tests/net_inet/isrg.der
Labels: extmod

#12432 docs/library: Update SSLContext support.
  docs/library/asyncio.rst
  docs/library/ssl.rst
Labels: docs

#13123 py/modsys: Implement sys.intern.
  py/modsys.c
  py/mpconfig.h
  tests/basics/sys1.py
  tests/unix/extra_coverage.py.exp
Labels: py-core

#13171 extmod/modonewire.c reliable timings for onewire.
  extmod/modonewire.c
Labels: extmod

#13208 py/makeqstrdefs.py: Stop generating temporary intermediate file.
  py/makeqstrdefs.py
Labels: py-core

#13234 extmod/asyncio: Remove non-working Stream __aenter__/__aexit__ methods.
  extmod/asyncio/stream.py
Labels: extmod

#13245 extmod/vfs_lfs: Fix lfs cache_size calculation.
  extmod/vfs_lfsx.c
Labels: extmod

#13246 py/mkrules.mk: Fix dependency file generation for compiler wrappers.
  py/mkrules.mk
Labels: py-core

#13250 ports/nrf: Add default folders to sys path.
  ports/nrf/main.c
  ports/nrf/qstrdefsport.h
Labels: port-nrf

#12724 extmod/nimble: Do not set GAP device name after sync.
  extmod/nimble/modbluetooth_nimble.c
  extmod/nimble/syscfg/syscfg.h
  ports/esp32/boards/sdkconfig.ble
Labels: extmod
