Repository micropython/micropython, pull requests merged in 2023-05, with the labels that each got.

#10992 tools: Remove unused import of serial
  tools/mpremote/mpremote/pyboardextended.py
Labels: tools

#11402 py/stackctrl: Add gcc pragmas to ignore dangling-pointer warning.
  py/stackctrl.c
Labels: py-core

#8993 ports/esp32-esp8266: Add support for set/get the wifi power saving mode.
  docs/library/network.WLAN.rst
  ports/esp32/network_wlan.c
  ports/esp8266/network_wlan.c
Labels: port-esp8266, port-esp32

#11348 py/gc: MICROPY_GC_HOOK_LOOP improvements.
  py/gc.c
  py/mpconfig.h
Labels: py-core

#11358 stm32/boards/ARDUINO_PORTENTA_H7: Enabled FDCAN.
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
Labels: port-stm32

#11396 tools: Import errno to fix undefined name in pyboard.py.
  tools/pyboard.py
Labels: tools

#11387 docs/reference/mpyfiles: Add release info on v6.1.
  docs/reference/mpyfiles.rst
Labels: docs

#11390 rp2: Make rp2_state_machine_exec accept integers.
  docs/library/rp2.StateMachine.rst
  ports/rp2/rp2_pio.c
Labels: port-rp2

#11468 tests/run-tests.py: Ensure correct cwd for mpy tests.
  tests/io/file1.py
  tests/io/file_iter.py
  tests/io/file_long_read.py
  tests/io/file_long_read2.py
  tests/io/file_long_read3.py
  tests/io/file_readinto.py
  tests/io/file_readinto_len.py
  tests/io/file_readline.py
  tests/io/file_seek.py
  tests/io/file_with.py
  tests/run-tests.py
  tests/unicode/file1.py
  tests/unicode/file2.py
  tests/unicode/file_invalid.py
Labels: tests

#11465 esp32,esp8266: Change network.WLAN from a function to a type.
  ports/esp32/modnetwork.h
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_wlan.c
  ports/esp8266/modnetwork.h
  ports/esp8266/modnetwork_globals.h
  ports/esp8266/network_wlan.c
Labels: port-esp8266, port-esp32

#11455 esp32,esp8266: Update espnow docs for WLAN.config(pm=x) option.
  docs/library/espnow.rst
Labels: docs

#11306 extmod/vfs_lfsx: Fix offset used before range check.
  extmod/vfs_lfsx.c
Labels: extmod

#11510 extmod/extmod.mk: Suppress deprecated-non-prototype warning.
  extmod/extmod.mk
Labels: extmod

#11494 ports/esp32/uart.c: UART clock source on S3 C3
  ports/esp32/machine_uart.c
  ports/esp32/uart.c
Labels: port-esp32

#11467 tools/mpremote: Improve speed of echoing device data to console.
  docs/reference/mpremote.rst
  tools/mpremote/mpremote/main.py
  tools/mpremote/mpremote/repl.py
Labels: tools

#11194 samd: Enable UART hardware flow control.
  docs/samd/pinout.rst
  ports/samd/machine_uart.c
  ports/samd/mcu/samd51/mpconfigmcu.h
Labels: port-samd

#11220 samd: Add the boards files for Adafruit Metro M4 Express Airlift.
  ports/samd/boards/ADAFRUIT_METRO_M4_EXPRESS/board.json
  ports/samd/boards/ADAFRUIT_METRO_M4_EXPRESS/mpconfigboard.h
  ports/samd/boards/ADAFRUIT_METRO_M4_EXPRESS/mpconfigboard.mk
  ports/samd/boards/ADAFRUIT_METRO_M4_EXPRESS/pins.csv
Labels: port-samd

#11512 ports: mimxrt: Fixed GCC13 build error.
  ports/mimxrt/sdcard.c
Labels: port-mimxrt

#11565 ports/mimxrt: Add support for more LEDs.
  ports/mimxrt/led.c
  ports/mimxrt/led.h
  ports/mimxrt/machine_led.c
  ports/mimxrt/main.c
  ports/mimxrt/modmachine.c
Labels: port-mimxrt

#11497 mimxrt: Add the Adafruit Metro M7 board.
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/board.json
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/deploy_metro_m7.md
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/mpconfigboard.h
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/mpconfigboard.mk
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/pins.csv
Labels: port-mimxrt

#11564 docs/reference/speed_python.rst: Remove 4-arg limit for viper.
  docs/reference/speed_python.rst
Labels: docs

#11590 renesas-ra: Consolidate hal_entry.c code and remove hal_entry() func.
  ports/renesas-ra/Makefile
  ports/renesas-ra/boards/EK_RA4M1/ra_gen/hal_data.h
  ports/renesas-ra/boards/EK_RA4M1/ra_gen/main.c
  ports/renesas-ra/boards/EK_RA4M1/src/hal_entry.c
  ports/renesas-ra/boards/EK_RA4W1/ra_gen/hal_data.h
  ports/renesas-ra/boards/EK_RA4W1/ra_gen/main.c
  ports/renesas-ra/boards/EK_RA4W1/src/hal_entry.c
  ports/renesas-ra/boards/EK_RA6M1/ra_gen/hal_data.h
  ports/renesas-ra/boards/EK_RA6M1/ra_gen/main.c
  ports/renesas-ra/boards/EK_RA6M1/src/hal_entry.c
  ports/renesas-ra/boards/EK_RA6M2/ra_gen/hal_data.h
  ports/renesas-ra/boards/EK_RA6M2/ra_gen/main.c
  ports/renesas-ra/boards/EK_RA6M2/src/hal_entry.c
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_gen/hal_data.h
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_gen/main.c
  ports/renesas-ra/boards/RA4M1_CLICKER/src/hal_entry.c
  ports/renesas-ra/main.c
  ports/renesas-ra/ra_hal.c
Labels: port-renesas-ra
