Repository micropython/micropython, pull requests merged in 2023-01, with the labels that each got.

#10203 axtls: Additional header files for building axTLS
  extmod/axtls-include/axtls_os_port.h
Labels: extmod

#10067 rp2/machine_pwm: simpler, more accurate frequency formula, and rounding for duty cycle consistency
  ports/rp2/machine_pwm.c
Labels: port-rp2

#10337 rp2: Change order of pin operations to prevent glitches.
  ports/rp2/mphalport.h
Labels: port-rp2

#10424 docs/rp2: Fix off-by-one cycle issue in PIO example.
  docs/rp2/tutorial/pio.rst
  examples/rp2/pio_1hz.py
Labels: port-rp2

#10468 docs/library/rp2.StateMachine: Expand put() documentation
  docs/library/rp2.StateMachine.rst
Labels: docs, port-rp2

#6128 py/map.c: Clear value when re-using slot with ordered dictionaries
  py/map.c
Labels: py-core

#9053 stm32/boards: Consolidate linker snippets to reduce duplication.
  ports/stm32/boards/ARDUINO_PORTENTA_H7/stm32h747.ld
  ports/stm32/boards/PYBD_SF2/f722_qspi.ld
  ports/stm32/boards/PYBD_SF6/f767.ld
  ports/stm32/boards/STM32F769DISC/f769_qspi.ld
  ports/stm32/boards/common_basic.ld
  ports/stm32/boards/common_bl.ld
  ports/stm32/boards/common_blifs.ld
  ports/stm32/boards/common_extratext_data_in_flash.ld
  ports/stm32/boards/common_extratext_data_in_flash_app.ld
  ports/stm32/boards/common_extratext_data_in_flash_text.ld
  ports/stm32/boards/common_ifs.ld
  ports/stm32/boards/common_isr.ld
  ports/stm32/boards/common_text.ld
Labels: port-stm32

#10286 tools/pyboard.py: Add fs_listdir/fs_readfile/fs_writefile and a parse kwarg to eval.
  tools/pyboard.py
Labels: tools

#10347 tools/pyboard.py : Set DTR on Windows to avoid ESPxx hard reset.
  tools/pyboard.py
Labels: tools

#10331 examples/socket: Use correct variable name.
  docs/library/socket.rst
Labels: docs

#10478 micropython/gc.c: Increase the address length in gc_dump_alloc_table().
  py/gc.c
Labels: py-core

#10484 mimxrt: Set MICROPY_GC_STACK_ENTRY_TYPE to uint32_t for large RAM.
  ports/mimxrt/mpconfigport.h
Labels: port-mimxrt

#10490 ports/esp32/machine_sdcard.c: Fix ESP_ERR_INVALID_ARG on SDCard init on ESP32-S3 (Change DMA channel)
  ports/esp32/machine_sdcard.c
Labels: port-esp32

#10383 ports/unix: Disable the shared library of libffi
  ports/unix/Makefile
Labels: port-unix

#9725 Add freq arguement in machine.Timer.rst
  docs/library/machine.Timer.rst
Labels: docs

#9155 docs/zephyr/quickref.rst: Fixed Zsensor API get_xxx value function in docs examples.
  docs/zephyr/quickref.rst
Labels: docs

#9980 docs: Explain uncrustify version installation details
  CODECONVENTIONS.md
Labels: docs

#9593 ports/stm32: Leave DFU mode after download.
  ports/stm32/Makefile
Labels: port-stm32

#10330 esp32/boards: Add board files for the Olimex ESP32 PoE boards.
  ports/esp32/boards/OLIMEX_ESP32_POE/board.json
  ports/esp32/boards/OLIMEX_ESP32_POE/board.md
  ports/esp32/boards/OLIMEX_ESP32_POE/mpconfigboard.cmake
  ports/esp32/boards/OLIMEX_ESP32_POE/mpconfigboard.h
  ports/esp32/boards/OLIMEX_ESP32_POE/sdkconfig.board
Labels: port-esp32

#10526 esp32: Avoid crash when calling wlan.ifconfig() before wlan.connect().
  ports/esp32/network_wlan.c
Labels: port-esp32

#9028 py/objarray: Raise error on out-of-bound memoryview slice start.
  py/objarray.c
  py/objarray.h
  tests/basics/memoryview_slice_size.py
  tests/basics/memoryview_slice_size.py.exp
Labels: py-core

#9678 py/lexer: Wrap f-string arguments to format in parens.
  py/lexer.c
  tests/basics/string_fstring.py
  tests/basics/string_fstring_debug.py
  tests/basics/string_fstring_debug.py.exp
Labels: py-core

#9702 ports/unix/main.c: Fix a memory leak.
  ports/unix/main.c
Labels: port-unix

#10549 rp2: Fix crash in a pin.irq handler.
  ports/rp2/machine_pin.c
Labels: port-rp2

#10553 py/objint_mpz: Catch and reject @ and @= operating on big integers.
  py/objint_mpz.c
  tests/basics/int_big_error.py
Labels: py-core

#10276 Add nullbits Bit-C PRO board
  ports/rp2/boards/NULLBITS_BIT_C_PRO/README.md
  ports/rp2/boards/NULLBITS_BIT_C_PRO/board.json
  ports/rp2/boards/NULLBITS_BIT_C_PRO/board.py
  ports/rp2/boards/NULLBITS_BIT_C_PRO/manifest.py
  ports/rp2/boards/NULLBITS_BIT_C_PRO/mpconfigboard.cmake
  ports/rp2/boards/NULLBITS_BIT_C_PRO/mpconfigboard.h
  ports/rp2/boards/NULLBITS_BIT_C_PRO/nullbits_bit_c_pro.h
  ports/rp2/boards/NULLBITS_BIT_C_PRO/pins.csv
Labels: port-rp2

#10558 nrf/random: Unleash seeding of the PRNG by a hardware RNG.
  ports/nrf/mpconfigport.h
Labels: port-nrf

#10575 esp32/olimex_poe: Update the board.json file.
  ports/esp32/boards/OLIMEX_ESP32_POE/board.json
Labels: port-esp32

#10566 shared/runtime/gchelper: Drop cpu directive from Arm helpers.
  ports/cc3200/application.mk
  ports/mimxrt/Makefile
  ports/qemu-arm/Makefile
  ports/renesas-ra/Makefile
  ports/rp2/CMakeLists.txt
  ports/samd/mcu/samd21/mpconfigmcu.mk
  ports/samd/mcu/samd51/mpconfigmcu.mk
  ports/stm32/Makefile
  ports/teensy/Makefile
  shared/runtime/gchelper_generic.c
  shared/runtime/gchelper_thumb1.s
  shared/runtime/gchelper_thumb2.s
Labels: py-core
