Repository micropython/micropython, pull requests merged in 2023-06, with the labels that each got.

#11598 py/objint: Allow int() to parse anything with the buffer protocol.
  py/objint.c
  tests/basics/int_parse.py
Labels: py-core

#11634 docs/reference/packages: add GitHub repo to package.json example as dependency
  docs/reference/packages.rst
Labels: docs

#11711 py/mkrules.mk: Automatically configure frozen options when manifest set.
  ports/esp32/mpconfigport.h
  ports/esp8266/Makefile
  ports/mimxrt/mpconfigport.h
  ports/nrf/Makefile
  ports/qemu-arm/Makefile
  ports/renesas-ra/Makefile
  ports/samd/Makefile
  ports/stm32/Makefile
  ports/unix/Makefile
  ports/windows/Makefile
  ports/zephyr/mpconfigport.h
  py/mkrules.mk
Labels: py-core

#11748 tools/mpremote: Fix exec_ -> exec in commands.py.
  tools/mpremote/mpremote/commands.py
Labels: tools

#11747 esp32: ESPNow.config() "buffer" option renamed to "rxbuf".
  ports/esp32/modespnow.c
Labels: docs

#11761 ports/esp32/ulp: Fix ULP (FSM) support for S2 + S3.
  ports/esp32/boards/sdkconfig.base
  ports/esp32/esp32_ulp.c
  tools/ci.sh
Labels: port-esp32

#11718 py/parsenum: Fix typo in comment.
  py/parsenum.c
Labels: py-core

#11763 py: makemoduledefs: fix multiple declarations, and auto-declare attr functions
  py/builtin.h
  py/makemoduledefs.py
  py/modsys.c
  py/objmodule.c
  py/objmodule.h
Labels: py-core

#11864 esp32/modules/inisetup.py: Allows to format the partition as FAT.
  ports/esp32/modules/inisetup.py
Labels: port-esp32

#11846 renesas-ra: Consolidate all fsp_cfg header files to one location.
  ports/renesas-ra/Makefile
  ports/renesas-ra/boards/EK_RA4W1/ra_cfg/fsp_cfg/r_adc_cfg.h
  ports/renesas-ra/boards/EK_RA4W1/ra_cfg/fsp_cfg/r_flash_lp_cfg.h
  ports/renesas-ra/boards/EK_RA4W1/ra_cfg/fsp_cfg/r_ioport_cfg.h
  ports/renesas-ra/boards/EK_RA4W1/ra_cfg/fsp_cfg/r_lpm_cfg.h
  ports/renesas-ra/boards/EK_RA6M1/ra_cfg/fsp_cfg/r_adc_cfg.h
  ports/renesas-ra/boards/EK_RA6M1/ra_cfg/fsp_cfg/r_ioport_cfg.h
  ports/renesas-ra/boards/EK_RA6M1/ra_cfg/fsp_cfg/r_lpm_cfg.h
  ports/renesas-ra/boards/EK_RA6M2/ra_cfg/fsp_cfg/r_adc_cfg.h
  ports/renesas-ra/boards/EK_RA6M2/ra_cfg/fsp_cfg/r_flash_hp_cfg.h
  ports/renesas-ra/boards/EK_RA6M2/ra_cfg/fsp_cfg/r_ioport_cfg.h
  ports/renesas-ra/boards/EK_RA6M2/ra_cfg/fsp_cfg/r_lpm_cfg.h
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_cfg/fsp_cfg/r_adc_cfg.h
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_cfg/fsp_cfg/r_flash_lp_cfg.h
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_cfg/fsp_cfg/r_ioport_cfg.h
  ports/renesas-ra/boards/RA4M1_CLICKER/ra_cfg/fsp_cfg/r_lpm_cfg.h
  ports/renesas-ra/fsp_cfg/r_adc_cfg.h
  ports/renesas-ra/fsp_cfg/r_flash_hp_cfg.h
  ports/renesas-ra/fsp_cfg/r_flash_lp_cfg.h
  ports/renesas-ra/fsp_cfg/r_ioport_cfg.h
  ports/renesas-ra/fsp_cfg/r_lpm_cfg.h
Labels: port-renesas-ra

#11680 renesas-ra: Support changing baudrate for UART.
  ports/renesas-ra/Makefile
  ports/renesas-ra/fsp_cfg/r_sci_uart_cfg.h
  ports/renesas-ra/ra/ra_sci.c
Labels: port-renesas-ra

#11823 ports/webassembly: Make mp_js_do_str and mp_js_process_char asynchronous.
  ports/webassembly/README.md
  ports/webassembly/wrapper.js
Labels: port-webassembly
