Repository micropython/micropython, pull requests merged in 2024-10, with the labels that each got.

#15918 unix/alloc: Remove unused MICROPY_FORCE_PLAT_ALLOC_EXEC option.
  ports/unix/alloc.c
  ports/unix/mpconfigport.h
Labels: port-unix

#15930 shared/runtime/gchelper_rv64i: Fix opcode typo.
  shared/runtime/gchelper_rv64i.s
Labels: shared

#15924 py/nlrrv64: Add RISC-V RV64I NLR implementation.
  py/nlr.h
  py/nlrrv64.c
  py/py.cmake
  py/py.mk
Labels: py-core

#15870 rp2/cyw43_configport: Define CYW43_PRINTF to mp_printf to get messages.
  ports/rp2/cyw43_configport.h
Labels: port-rp2

#15688 py/objtype: Allow passing keyword arguments to native base __init__.
  py/obj.h
  py/objfun.c
  py/objtype.c
  tests/basics/subclass_native_init.py
Labels: py-core

#15552 tests/README: Update instructions for key/cert pair usage on device.
  tests/README.md
Labels: tests

#15970 ports: Include py/mphal.h instead of mphalport.h.
  ports/esp32/esp32_nvs.c
  ports/esp32/esp32_partition.c
  ports/esp32/esp32_rmt.c
  ports/esp32/machine_pin.c
  ports/esp32/machine_timer.c
  ports/esp32/modespnow.c
  ports/esp32/mphalport.c
  ports/mimxrt/tusb_port.c
  ports/nrf/drivers/bluetooth/ble_drv.c
  ports/nrf/drivers/bluetooth/ble_uart.c
  ports/nrf/main.c
  ports/nrf/modules/board/led.c
  ports/nrf/modules/machine/rtcounter.c
  ports/nrf/modules/ubluepy/ubluepy_scanner.c
  ports/nrf/nrfx_log.h
  ports/samd/fatfs_port.c
  ports/samd/samd_soc.c
  ports/webassembly/mphalport.c
Labels: ports

#12652 extmod/vfs_posix_file: Skip flush of tty handles in msvc debug builds.
  extmod/vfs_posix_file.c
Labels: extmod

#15910 esp32: Fix hang in taskYIELD() on riscv CPUs when IRQs disabled.
  ports/esp32/mphalport.c
  ports/esp32/mphalport.h
  tests/extmod/machine_disable_irq.py
  tests/extmod/machine_disable_irq.py.exp
Labels: port-esp32

#15952 esp32: Apply the LWIP active TCP socket limit.
  ports/esp32/CMakeLists.txt
  ports/esp32/boards/sdkconfig.base
  ports/esp32/esp32_common.cmake
  ports/esp32/lwip_patch.c
Labels: port-esp32

#15997 esp32: Disable hardware stack protection on ESP32-C6.
  ports/esp32/boards/ESP32_GENERIC_C6/mpconfigboard.cmake
  ports/esp32/boards/M5STACK_NANOC6/mpconfigboard.cmake
  ports/esp32/boards/UM_TINYC6/mpconfigboard.cmake
  ports/esp32/boards/sdkconfig.c6
Labels: port-esp32

#15990 tests/run-tests.py: Wait for soft reset if a target skips a test.
  tests/run-tests.py
Labels: tests

#15991 tools: Only issue a single Ctrl-C when entering raw REPL.
  tools/mpremote/mpremote/transport_serial.py
  tools/pyboard.py
Labels: tools

#15959 ports: zephyr: Add support for BeagleConnect Freedom.
  ports/zephyr/boards/beagleconnect_freedom.conf
Labels: port-zephyr

#15915 unix/main: Add --version command-line option.
  ports/unix/main.c
Labels: port-unix

#16006 esp32/mphalport: Always poll stdin ringbuffer to include UART use.
  ports/esp32/mphalport.c
Labels: port-esp32

#15940 py/objtype: Don't delegate lookup of descriptor methods to __getattr__.
  py/objtype.c
  tests/basics/class_descriptor.py
Labels: py-core

#16052 rp2/machine_uart: Make it so TX is done only when no longer busy.
  docs/library/machine.UART.rst
  ports/rp2/machine_uart.c
  tests/extmod/machine_uart_tx.py
Labels: port-rp2

#16047 Revert "stm32/machine_uart: Allow changing only the baudrate."
  ports/stm32/machine_uart.c
Labels: port-stm32

#16051 tests/extmod: Make invalid-blockdev test work consistently on all ports.
  tests/extmod/vfs_blockdev_invalid.py
  tests/extmod/vfs_blockdev_invalid.py.exp
Labels: tests

#16035 esp32: Allow disabling USB CDC.
  ports/esp32/modmachine.c
Labels: port-esp32

#16040 ports/qemu: Fix inline-if in `lookup_cause`.
  ports/qemu/mcu/rv32/interrupts.c
Labels: port-qemu

#16026 rp2/mpconfigport: Leave callable pointers alone on RV32.
  ports/rp2/mpconfigport.h
Labels: port-rp2

#16050 tests/extmod: Support stm32 port in machine.UART TX test.
  tests/extmod/machine_uart_tx.py
Labels: tests

#16011 wiznet: Reset mDNS when interface is brought up.
  extmod/network_wiznet5k.c
Labels: extmod

#16072 tests/extmod: Fix access of RTC class in machine.RTC test.
  tests/extmod/machine_rtc.py
Labels: tests

#16069 Update README.md
  ports/rp2/README.md
Labels: port-rp2

#16058 esp32: Move linker wrap directives to common cmake file.
  ports/esp32/CMakeLists.txt
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#16085 mpremote: Fix UnboundLocalError in Transport.fs_writefile().
  tools/mpremote/mpremote/transport.py
Labels: tools

#15950 esp32/machine_hw_spi: Reject invalid number of bits in constructor.
  ports/esp32/machine_hw_spi.c
Labels: port-esp32

#16090 esp32/pwm: Use IDF functions to calculate resolution correctly.
  ports/esp32/machine_pwm.c
Labels: port-esp32

#15872 pic16bit: Make it build with recent XC16 versions.
  ports/pic16bit/Makefile
  ports/pic16bit/mpconfigport.h
  py/misc.h
Labels: ports

#16114 tools/ci: Fix commit message checking when PR branch HEAD behind master.
  .github/workflows/commit_formatting.yml
  tools/ci.sh
Labels: tools

#16122 ci: Fix reference commit for code size comparison.
  .github/workflows/code_size.yml
  tools/ci.sh
Labels: tools

#16110 Fix/mip documentation
  docs/reference/packages.rst
Labels: docs
