Repository micropython/micropython, pull requests merged in 2024-07, with the labels that each got.

#15347 py/asmrv32: Make some code sequences smaller.
  py/asmrv32.c
  py/asmrv32.h
Labels: py-core

#9531 py/objint_*: Convert back to small int after binary op.
  ports/unix/coverage.c
  py/objint_longlong.c
  py/objint_mpz.c
  tests/basics/int_big_to_small.py
  tests/basics/int_big_to_small.py.exp
  tests/ports/unix/extra_coverage.py.exp
Labels: py-core

#15389 py/asmrv32: Do not use binary literals.
  py/asmrv32.h
Labels: py-core

#15262 extmod/machine_usb_device: Add remote_wakeup.
  docs/library/machine.USBDevice.rst
  extmod/machine_usb_device.c
Labels: extmod

#15409 esp32,esp8266: Use new mp_obj_new_str_from_cstr() function.
  ports/esp32/network_common.c
  ports/esp8266/network_wlan.c
Labels: port-esp8266, port-esp32

#14140 docs: Update docs to replace ifconfig with ipconfig.
  docs/esp32/quickref.rst
  docs/esp8266/quickref.rst
  docs/esp8266/tutorial/network_basics.rst
  docs/library/network.LAN.rst
  docs/library/network.WIZNET5K.rst
  docs/library/network.WLAN.rst
  docs/library/network.WLANWiPy.rst
  docs/library/network.rst
  docs/mimxrt/quickref.rst
  docs/reference/mpremote.rst
  docs/wipy/quickref.rst
  docs/wipy/tutorial/wlan.rst
Labels: docs

#15415 extmod/modmachine.c: Allow up to 4 arguments for machine.freq().
  extmod/modmachine.c
  ports/stm32/mpconfigport.h
  py/mpconfig.h
Labels: extmod

#14372 extmod/network_nina: Fix the AP security mode constants.
  drivers/ninaw10/nina_wifi_drv.c
  extmod/network_ninaw10.c
Labels: extmod

#15436 extmod/machine_spi.c: Support firstbit=machine.LSB for machine.SoftSPI.
  drivers/bus/softspi.c
  drivers/bus/spi.h
  extmod/machine_spi.c
  ports/esp32/mpconfigport.h
  py/mpconfig.h
Labels: extmod

#15432 ports/unix: extmod/modre.c Fix regression on FreeBSD build.
  extmod/modre.c
Labels: extmod, port-unix

#15429 ports/unix/modtermios.c: add baudrate options.
  ports/unix/modtermios.c
Labels: port-unix

#15484 tests/extmod: Make get_event_loop tests compatible with CPython 3.12.
  tests/extmod/asyncio_get_event_loop.py
  tests/extmod/asyncio_get_event_loop.py.exp
  tests/extmod/asyncio_new_event_loop.py
  tests/extmod/asyncio_new_event_loop.py.exp
Labels: tests

#15492 py/gc: Remove commented-out functions.
  py/gc.c
Labels: py-core

#15349 webassembly: Reuse PyProxy objects when they are the same Python object.
  ports/webassembly/proxy_c.c
  ports/webassembly/proxy_js.js
  tests/ports/webassembly/heap_expand.mjs.exp
  tests/ports/webassembly/py_proxy_identity.mjs
  tests/ports/webassembly/py_proxy_identity.mjs.exp
Labels: port-webassembly

#15494 tests/multi_bluetooth/perf_gatt_notify.py: Reduce connection interval.
  tests/multi_bluetooth/perf_gatt_notify.py
Labels: tests

#15481 mp_usbd_cdc.c: Skip writing to an uninitialized USB device.
  shared/tinyusb/mp_usbd.h
  shared/tinyusb/mp_usbd_cdc.c
Labels: shared

#15497 extmod/modos: Include os.sep entry if MICROPY_VFS is enabled.
  extmod/modos.c
  ports/nrf/mpconfigport.h
  ports/renesas-ra/mpconfigport.h
  ports/stm32/mpconfigport.h
  ports/unix/variants/mpconfigvariant_common.h
  ports/windows/mpconfigport.h
Labels: extmod

#12949 extmod/modbtree: Add checks for already-closed database.
  extmod/modbtree.c
  tests/extmod/btree_closed.py
  tests/extmod/btree_closed.py.exp
Labels: extmod

#12917 extmod/moductypes: Validate the descriptor tuple.
  extmod/moductypes.c
  tests/extmod/uctypes_sizeof.py
  tests/extmod/uctypes_sizeof.py.exp
  tests/extmod/uctypes_sizeof_od.py
  tests/extmod/uctypes_sizeof_od.py.exp
Labels: extmod

#15519 extmod/vfs_fat.c: Add default volume label to mkfs if it exists
  extmod/vfs_fat.c
Labels: extmod

#13325 fix: Compare length before memcmp
  extmod/vfs.c
Labels: extmod

#14245 esp32/machine_timer.c: Restrict timer numbers for ESP32C3 to 0 and 1.
  ports/esp32/machine_timer.c
Labels: port-esp32

#12876 unix/main: Fix build on RISC-V 64 bits.
  ports/unix/main.c
Labels: port-unix

#15422 ports/rp2: Enable ipv6 per default for rp2.
  ports/rp2/lwip_inc/lwipopts.h
Labels: port-rp2

#12918 py/objtype: Validate super() arguments.
  py/objtype.c
  tests/basics/builtin_super.py
Labels: py-core

#15520 py/misc: Fix msvc and C++ compatibility.
  py/misc.h
Labels: py-core

#15533 py/runtime: Fix self arg passed to classmethod when accessed via super.
  py/runtime.c
  tests/basics/subclass_classmethod.py
Labels: py-core

#15531 github/workflows: Add RISC-V 64 bits Unix port to CI.
  .github/workflows/ports_unix.yml
  tools/ci.sh
Labels: tests

#15546 tests/multi_net: Fix skipping of SSLContext tests when .der don't exist.
  tests/multi_net/sslcontext_server_client.py
  tests/multi_net/sslcontext_server_client_ciphers.py
Labels: tests

#15237 nrf/modules/machine/pin.c: Disable the IRQ with pin.irq(handler=None).
  ports/nrf/modules/machine/pin.c
Labels: port-nrf

#15395 esp32/mpconfigport: Enable the RV32 emitter for ESP32C3 targets.
  ports/esp32/mpconfigport.h
Labels: py-core

#15553 nrf/Makefile: Fix GCC_VERION regex.
  ports/nrf/Makefile
Labels: port-nrf
