Repository micropython/micropython, pull requests merged in 2024-11, with the labels that each got.

#16121 extmod/modlwip: Fix IGMP address type when IPv6 is enabled.
  extmod/modlwip.c
Labels: extmod

#16120 extmod/nimble: Remove asserts of ediv_rand_present and adjust comments.
  extmod/nimble/modbluetooth_nimble.c
Labels: extmod

#16119 esp32/network_wlan: Add missing WLAN security constants.
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_common.c
  ports/esp32/network_wlan.c
Labels: port-esp32

#16127 esp32: Fix machine.PWM on IDF <5.2.
  ports/esp32/machine_pwm.c
Labels: port-esp32

#16210 esp32/modsocket: Fix getaddrinfo hints to set AI_CANONNAME.
  ports/esp32/modsocket.c
Labels: port-esp32

#16222 extmod/vfs_blockdev: Support bool return from Python read/write blocks.
  extmod/vfs_blockdev.c
Labels: extmod

#15787 samd/machine_uart.c: Add full support for 9bit data.
  ports/samd/machine_uart.c
Labels: port-samd

#16157 docs: Change copyright line to mention "authors and contributors".
  docs/conf.py
Labels: docs

#16265 extmod/network_cyw43: Fix uninitialised variable in status('stations').
  extmod/network_cyw43.c
Labels: extmod

#16226 extmod/network_cyw43: Allow configuring active AP interface.
  extmod/network_cyw43.c
Labels: extmod, port-rp2

#16315 nrf/ticker: Fix the soft reboot lock-up of the micro:bit board.
  ports/nrf/drivers/ticker.c
Labels: port-nrf

#16304 ci: Remove macos install step for pkg-config
  tools/ci.sh
Labels: port-unix

#16270 esp32: Add missing network.STAT_CONNECT_FAIL constant.
  ports/esp32/modnetwork_globals.h
Labels: port-esp32
