Repository micropython/micropython, pull requests merged in 2024-12, with the labels that each got.

#13057 docs/library/binascii: Add docs for crc32 method.
  docs/library/binascii.rst
Labels: docs

#16337 extmod/extmod.mk: Fix libmetal build prefix.
  extmod/extmod.mk
Labels: extmod

#16327 shared/tinyusb: Set MSC max endpoint size based on device speed.
  shared/tinyusb/mp_usbd_descriptor.c
Labels: shared

#16331 ports/mimxrt: Switch to shared TinyUSB descriptor.
  ports/mimxrt/Makefile
  ports/mimxrt/mpconfigport.h
  ports/mimxrt/tusb_port.c
  ports/mimxrt/usbd.c
Labels: port-mimxrt

#16328 ports/nrf/boards/ARDUINO_NANO_33_BLE_SENSE: Update config.
  ports/nrf/boards/ARDUINO_NANO_33_BLE_SENSE/mpconfigboard.h
  ports/nrf/boards/ARDUINO_NANO_33_BLE_SENSE/pins.csv
Labels: port-nrf

#16349 esp32: Fix link failure due to library link order.
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#16352 py/misc: Fix msvc and C++ compatibility.
  py/misc.h
Labels: py-core

#16359 extmod/modplatform: Distinguish RISC-V 64 from RISC-V 32.
  extmod/modplatform.h
Labels: extmod

#16217 mimxrt/machine_rtc: Deprecate RTC.cancel in MicroPython v2.
  docs/library/machine.RTC.rst
  ports/mimxrt/machine_rtc.c
Labels: port-mimxrt

#16163 py/mkrules.mk: Use partial clone for submodules if available.
  py/mkrules.mk
Labels: py-core

#15862 ports/esp32: Use capability defines to configure features.
  ports/esp32/adc.c
  ports/esp32/machine_adc.c
  ports/esp32/machine_adc_block.c
  ports/esp32/machine_bitstream.c
  ports/esp32/machine_i2c.c
  ports/esp32/machine_pin.c
  ports/esp32/modmachine.c
Labels: port-esp32

#16355 esp32/mpconfigport: Use the appropriate wait-for-interrupt opcode.
  ports/esp32/mpconfigport.h
Labels: port-esp32

#16383 ports/stm32/boards/STM32F429DISC: Fix SDRAM configuration.
  ports/stm32/boards/STM32F429DISC/mpconfigboard.h
Labels: port-stm32

#16147 tests/extmod_hardware: Add a test for machine.PWM freq and duty.
  tests/extmod_hardware/machine_pwm.py
Labels: tests

#16356 esp32: Enable support for machine.USBDevice.
  ports/esp32/esp32_common.cmake
  ports/esp32/main.c
  ports/esp32/mpconfigport.h
Labels: port-esp32

#16400 qemu/mpconfigport: Enable VFS reader, loading .mpy files and io.IOBase.
  ports/qemu/main.c
  ports/qemu/mpconfigport.h
Labels: port-qemu

#16389 stm32/extint: Fix EXTI IRQ handlers for H5 MCUs.
  ports/stm32/extint.c
  ports/stm32/stm32_it.c
Labels: port-stm32

#16380 ci: Add GitHub Actions caching for Zephyr
  .github/workflows/ports_zephyr.yml
  tools/ci.sh
Labels: tools, port-zephyr

#16444 stm32: Fix extraction of hse/hsi/pllm values from preprocessed source.
  ports/stm32/boards/plli2svalues.py
  ports/stm32/boards/pllvalues.py
Labels: port-stm32

#16433 tests/run-tests.py: Set name of injected test module to '__main__'.
  tests/run-tests.py
Labels: tests

#16443 doc: Note that machine.USBDevice is now available on esp32 port.
  docs/library/machine.USBDevice.rst
Labels: docs

#16436 tests: Fix all file ioctl's to support only MP_STREAM_CLOSE.
  tests/micropython/builtin_execfile.py
  tests/micropython/import_mpy_invalid.py
  tests/micropython/import_mpy_native.py
  tests/micropython/import_mpy_native_gc.py
  tests/perf_bench/core_import_mpy_multi.py
  tests/perf_bench/core_import_mpy_single.py
  tests/run-natmodtests.py
  tests/run-tests.py
Labels: tests

#16437 extmod/vfs: Guard mutating fs functions with MICROPY_VFS_WRITABLE.
  extmod/modos.c
  extmod/vfs.c
  extmod/vfs.h
  py/mpconfig.h
Labels: extmod

#16465 tools/verifygitlog.py: Show invalid commit subjects in quotes.
  tools/verifygitlog.py
Labels: tools
