Repository micropython/micropython, pull requests merged in 2024-02, with the labels that each got.

#13564 ARDUINO_PORTENTA_H7/mpconfigboard.h: Configure SPI1.
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
Labels: port-stm32

#10267 py/formatfloat: Fix exact int formatting on 32-bit mingw.
  ports/windows/Makefile
Labels: py-core

#13610 stm32/Makefile: Ignore uninitialised variable warning in H5 HAL SD code.
  ports/stm32/Makefile
Labels: port-stm32

#13618 extmod/btstack: Reset pending_value_handle before calling write-done cb.
  extmod/btstack/modbluetooth_btstack.c
  tests/multi_bluetooth/ble_irq_calls.py
  tests/multi_bluetooth/ble_irq_calls.py.exp
Labels: extmod

#13637 extmod/btstack: Reset pending_value_handle before calling read-done cb.
  extmod/btstack/modbluetooth_btstack.c
  tests/multi_bluetooth/ble_irq_calls.py
  tests/multi_bluetooth/ble_irq_calls.py.exp
Labels: extmod

#13656 mimxrt: Fix headers include guards typos.
  ports/mimxrt/cyw43_configport.h
  ports/mimxrt/pendsv.h
Labels: port-mimxrt

#13571 all tinyusb ports: On cold boot, enable USB after boot.py completes.
  ports/mimxrt/main.c
  ports/nrf/drivers/usb/usb_cdc.c
  ports/nrf/main.c
  ports/renesas-ra/main.c
  ports/rp2/main.c
  ports/samd/main.c
  ports/samd/samd_soc.c
  shared/tinyusb/mp_usbd.h
Labels: port-nrf, port-samd, port-mimxrt, port-rp2, port-renesas-ra

#13640 esp32/network_ppp: Make PPP support optional.
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_ppp.c
  ports/esp32/ppp_set_auth.c
Labels: port-esp32

#13660 esp32/mpnimbleport: Release the GIL while doing NimBLE port deinit.
  ports/esp32/mpnimbleport.c
Labels: port-esp32

#13673 ports/unix/input.c: flush the prompt
  ports/unix/input.c
Labels: port-unix

#13674 Avoid including system headers when the functionality is disabled
  ports/unix/modsocket.c
  ports/unix/modtermios.c
  ports/unix/mpbtstackport_h4.c
  ports/unix/mpbtstackport_usb.c
Labels: port-unix

#13655 tools/manifestfile: Add --unix-ffi option.
  tools/manifestfile.py
Labels: tools

#13661 py/makeversionhdr.py: Reinstate MICROPY_GIT_HASH in mpversion.h.
  py/makeversionhdr.py
Labels: py-core

#13683 py/obj: Change sizeof to offsetof in mp_obj_malloc_var macro.
  extmod/modcryptolib.c
  extmod/modhashlib.c
  extmod/modre.c
  ports/nrf/boards/MICROBIT/modules/microbitimage.c
  ports/unix/modffi.c
  py/modio.c
  py/obj.h
  py/objattrtuple.c
  py/objclosure.c
  py/objfun.c
  py/objgenerator.c
  py/objmap.c
  py/objnamedtuple.c
  py/objtuple.c
  py/objtype.c
  py/objzip.c
Labels: py-core

#13662 stm32/mboot: Generate FLASH_LAYOUT_STR at runtime on H5 MCUs.
  ports/stm32/mboot/main.c
Labels: port-stm32

#13558 esp32/machine_i2c.c: Fix warnings when I2C is disabled.
  ports/esp32/machine_i2c.c
Labels: port-esp32

#13638 esp32/machine_hw_spi: Common SPI argument parsing.
  ports/esp32/machine_hw_spi.c
Labels: port-esp32

#13691 fix websocket clean shutdown
  extmod/modwebsocket.c
  tests/extmod/websocket_basic.py.exp
Labels: extmod

#13725 extmod/modlwip: Allow empty ip addresses.
  extmod/modlwip.c
Labels: extmod

#13732 ports: Fix ports missing the vfs module.
  py/mpconfig.h
Labels: ports, port-stm32, port-nrf, port-samd

#13776 py/emitbc: Remove call to adjust Python stack by 0 entries.
  py/emitbc.c
Labels: py-core

#13779 tests/multi_bluetooth: Move ble_deepsleep to stress_deepsleep_reconnect.
  tests/multi_bluetooth/stress_deepsleep_reconnect.py
  tests/multi_bluetooth/stress_deepsleep_reconnect.py.exp
Labels: tests
