Repository micropython/micropython, pull requests merged in 2024-01, with the labels that each got.

#13306 ports/mimxrt: Remove redundant NVIC/IRQ defines.
  ports/mimxrt/mphalport.h
Labels: port-mimxrt

#13307 ports/mimxrt/mpbthciport: Add missing extmod/modmachine.h header.
  ports/mimxrt/mpbthciport.c
Labels: port-mimxrt

#13331 tests/run-multitests.py: Change to dir of test script when running it.
  tests/multi_net/asyncio_tls_server_client.py
  tests/multi_net/asyncio_tls_server_client_cert_required_error.py
  tests/multi_net/asyncio_tls_server_client_readline.py
  tests/multi_net/asyncio_tls_server_client_verify_error.py
  tests/multi_net/ssl_cert_rsa.py
  tests/multi_net/sslcontext_check_hostname_error.py
  tests/multi_net/sslcontext_getpeercert.py
  tests/multi_net/sslcontext_server_client.py
  tests/multi_net/sslcontext_server_client_ciphers.py
  tests/multi_net/sslcontext_server_client_files.py
  tests/multi_net/sslcontext_verify_error.py
  tests/multi_net/sslcontext_verify_time_error.py
  tests/run-multitests.py
Labels: tests

#13332 tests/multi_net: Generate smaller certs with 2048-bit RSA.
  tests/README.md
  tests/multi_net/rsa_cert.der
  tests/multi_net/rsa_key.der
Labels: tests

#13202 test/run-tests.py: Add an argument for running only failed tests.
  tests/run-tests.py
Labels: tests

#12296 Fix path-based special test detection
  tests/run-tests.py
Labels: tests

#13413 rp2: Make result of thread.get_ident() a non-zero integer.
  ports/rp2/mpthreadport.c
Labels: port-rp2

#13425 py/py.mk: Remove extra build dir created for frozen_content.
  py/py.mk
Labels: py-core

#13398 esp32: Use all supplied arguments to socket.getaddrinfo().
  ports/esp32/modsocket.c
Labels: port-esp32

#13409 tools/mpremote: Reduce dependencies.
  tools/mpremote/requirements.txt
Labels: tools

#13450 renesas-ra/boards/ARDUINO_PORTENTA_C33: Fix the RTC clock source.
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/mpconfigboard.h
Labels: port-renesas-ra

#13474 extmod/asyncio: Support gather of tasks that finish early.
  extmod/asyncio/core.py
  extmod/asyncio/funcs.py
  tests/extmod/asyncio_gather_finished_early.py
Labels: extmod

#11847 ports/rp2/machine_uart: fix race condition in interrupt handling
  ports/rp2/machine_uart.c
Labels: port-rp2

#11480 ports: Fix handling of paths containing spaces in Makefiles
  ports/esp32/Makefile
  ports/mimxrt/Makefile
  ports/rp2/Makefile
  ports/stm32/mboot/Makefile
  py/mkrules.mk
Labels: ports

#13501 github/workflows: Run rp2 and stm32 CI with space in repository path.
  .github/workflows/ports_mimxrt.yml
  .github/workflows/ports_rp2.yml
Labels: tests

#13500 tests/extmod: Remove asyncio .exp files that match CPython output.
  tests/extmod/asyncio_await_return.py.exp
  tests/extmod/asyncio_basic2.py.exp
  tests/extmod/asyncio_cancel_fair.py.exp
  tests/extmod/asyncio_cancel_fair2.py.exp
  tests/extmod/asyncio_cancel_task.py.exp
  tests/extmod/asyncio_cancel_wait_on_finished.py.exp
  tests/extmod/asyncio_current_task.py.exp
  tests/extmod/asyncio_event.py.exp
  tests/extmod/asyncio_event_fair.py.exp
  tests/extmod/asyncio_exception.py.exp
  tests/extmod/asyncio_fair.py
  tests/extmod/asyncio_fair.py.exp
  tests/extmod/asyncio_lock.py
  tests/extmod/asyncio_lock_cancel.py.exp
  tests/extmod/asyncio_loop_stop.py.exp
  tests/extmod/asyncio_new_event_loop.py.exp
  tests/extmod/asyncio_set_exception_handler.py.exp
  tests/extmod/asyncio_task_done.py.exp
Labels: tests

#13511 stm32/mboot/Makefile: Revert change to BOARD_DIR that removed abspath.
  ports/stm32/mboot/Makefile
Labels: port-stm32

#13446 docs: Add note about position-only arguments in CPython vs MicroPython.
  docs/differences/modules_preamble.txt
  tools/gen-cpydiff.py
Labels: docs

#13513 rp2/boards/ARDUINO_NANO_RP2040_CONNECT: Increase Flash storage space.
  ports/rp2/boards/ARDUINO_NANO_RP2040_CONNECT/mpconfigboard.h
Labels: port-rp2

#13515 Ports: Add LED pin aliases for all Arduino boards.
  ports/esp32/boards/ARDUINO_NANO_ESP32/pins.csv
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/pins.csv
  ports/rp2/boards/ARDUINO_NANO_RP2040_CONNECT/pins.csv
  ports/stm32/boards/ARDUINO_GIGA/pins.csv
  ports/stm32/boards/ARDUINO_NICLA_VISION/pins.csv
  ports/stm32/boards/ARDUINO_PORTENTA_H7/pins.csv
Labels: ports

#13542 esp8266/boards/ESP8266_GENERIC: Disable MICROPY_DEBUG_PRINTERS.
  ports/esp8266/boards/ESP8266_GENERIC/mpconfigboard.h
Labels: port-esp8266

#13546 extmod/modssl_mbedtls: Fix cipher iteration in SSLContext.get_ciphers.
  extmod/modssl_mbedtls.c
  tests/extmod/ssl_sslcontext_ciphers.py
  tests/extmod/ssl_sslcontext_ciphers.py.exp
Labels: extmod

#13519 py/builtinimport: Simplify calls to stat_path().
  py/builtinimport.c
Labels: ports, py-core

#13569 py/compile: Fix potential Py-stack overflow in try-finally with return.
  py/compile.c
  tests/basics/try_finally_return.py
Labels: py-core

#13568 examples/embedding: Add -fno-common to the sample compiler flags.
  examples/embedding/Makefile
Labels: examples
