Repository micropython/micropython, pull requests merged in 2024-04, with the labels that each got.

#14209 ports/rp2: Prevent lock-up when `lightsleep()` called within thread.
  ports/rp2/modmachine.c
Labels: port-rp2

#14231 rp2/README: Fix typo in Raspberry
  ports/rp2/README.md
Labels: port-rp2

#14323 py/objfun.h: Fix C++ compatibility.
  py/objfun.h
Labels: py-core

#14238 py/obj.h: Fix C++ compatibility of _mp_obj_type_t struct initialisers.
  py/obj.h
Labels: py-core

#14318 webassembly/api: Allocate code data on C heap when running Python code.
  ports/webassembly/api.js
  ports/webassembly/main.c
Labels: port-webassembly

#11353 py/nlrthumb: Make non-Thumb2 workaround opt-in.
  py/mpconfig.h
  py/nlrthumb.c
Labels: py-core

#14381 nrf/mpconfigport: Enable MICROPY_NLR_THUMB_USE_LONG_JUMP on nRF51xx.
  ports/nrf/mpconfigport.h
Labels: port-nrf
