Repository micropython/micropython, pull requests merged in 2024-03, with the labels that each got.

#13764 stm32: Add support for analog-only "_C" pins.
  ports/stm32/boards/make-pins.py
  ports/stm32/boards/stm32f4xx_prefix.c
  ports/stm32/boards/stm32h723_af.csv
  ports/stm32/boards/stm32h743_af.csv
  ports/stm32/boards/stm32h7b3_af.csv
  ports/stm32/mpconfigboard_common.h
  ports/stm32/pin.c
  ports/stm32/pin.h
Labels: port-stm32

#13727 esp32/machine_i2s: Integrate new I2S IDF driver.
  extmod/machine_i2s.c
  ports/esp32/boards/sdkconfig.base
  ports/esp32/machine_i2s.c
  ports/esp32/mpconfigport.h
Labels: port-esp32

#14004 Esp32 bootloader fixes
  ports/esp32/modmachine.c
  ports/esp32/mpconfigport.h
Labels: port-esp32, maintainer-queue

#14016 esp/network_lan.c: Provide separate arguments for phy_reset and phy_power.
  docs/esp32/quickref.rst
  ports/esp32/network_lan.c
Labels: port-esp32

#14025 esp32/machine_uart: Apply timeout_char default.
  ports/esp32/machine_uart.c
Labels: port-esp32

#13759 ports/esp32: add FLASHSIZE_4MB variant to ESP32_GENERIC_S3
  ports/esp32/boards/ESP32_GENERIC_S3/board.json
  ports/esp32/boards/ESP32_GENERIC_S3/board.md
  ports/esp32/boards/ESP32_GENERIC_S3/mpconfigboard.cmake
  ports/esp32/boards/ESP32_GENERIC_S3/sdkconfig.flash_4m
Labels: port-esp32

#14054 stm32/sdram: Fix MPU config to use MPU_CONFIG_NOACCESS.
  ports/stm32/sdram.c
Labels: port-stm32

#14023 Nina WiFi network interface updates.
  extmod/network_ninaw10.c
Labels: extmod

#14094 extmod/network_ninaw10: Fix error messages.
  extmod/network_ninaw10.c
Labels: extmod

#14074 extmod/nimble: Check for active before setting address mode.
  extmod/nimble/modbluetooth_nimble.c
Labels: extmod

#14102 nrf/boards: Enable MICROPY_HW_ENABLE_USBDEV on boards with USB CDC.
  ports/nrf/boards/NRF52840_MDK_USB_DONGLE/mpconfigboard.h
  ports/nrf/boards/PARTICLE_XENON/mpconfigboard.h
  ports/nrf/boards/PCA10059/mpconfigboard.h
Labels: port-nrf

#13785 extmod/os_dumpterm: Handle exception correctly when it happens on read and on write.
  extmod/os_dupterm.c
Labels: extmod

#10724 py/objdeque: Expand implementation to be doubly-ended
  ports/windows/mpconfigport.h
  py/mpconfig.h
  py/objdeque.c
  tests/basics/deque1.py
  tests/basics/deque2.py
  tests/basics/deque2.py.exp
  tests/basics/deque_slice.py
Labels: py-core

#13689 extmod/network: Implement IPv6 API to set and retrieve nic configuration.
  extmod/modlwip.c
  extmod/modnetwork.c
  extmod/modnetwork.h
  extmod/network_cyw43.c
  extmod/network_esp_hosted.c
  extmod/network_lwip.c
  extmod/network_wiznet5k.c
Labels: extmod

#7670 docs: Add documentation for rp2 DMA support.
  docs/library/rp2.DMA.rst
  docs/library/rp2.StateMachine.rst
  docs/library/rp2.rst
Labels: docs, maintainer-queue

#14136 py/parse: Zero dangling parse tree pointer to fix possible leak.
  py/parse.c
Labels: py-core

#14145 esp32: Workaround for ringbuf functions required by ISRs.
  ports/esp32/boards/sdkconfig.spiram
  ports/esp32/esp32_common.cmake
  ports/esp32/main_esp32/linker.lf
  ports/esp32/main_esp32c3/linker.lf
  ports/esp32/main_esp32s2/linker.lf
  ports/esp32/main_esp32s3/linker.lf
Labels: port-esp32

#14126 py/nlr: Add "memory" to asm clobbers list in nlr_jump.
  py/nlraarch64.c
  py/nlrmips.c
  py/nlrpowerpc.c
  py/nlrthumb.c
  py/nlrx64.c
  py/nlrx86.c
  py/nlrxtensa.c
Labels: py-core

#14075 ports/esp32: Check if main heap allocation failed.
  ports/esp32/main.c
Labels: port-esp32

#14103 ports/esp32: Skip codespell for IDF managed components.
  pyproject.toml
Labels: port-esp32

#14137 wiznet5k: w5100s: Properly enable interrupt signal
  extmod/network_wiznet5k.c
Labels: extmod

#14170 tools/manifestfile.py: Fix freeze() when script is an empty iterable.
  tools/manifestfile.py
Labels: tools

#13497 nrf/modules/machine/pwm.c: Tag a PWM device as used in the constructor.
  ports/nrf/modules/machine/pwm.c
Labels: port-nrf

#14142 nrf/main: Fix build of microbit when SD is used.
  ports/nrf/main.c
Labels: port-nrf

#14149 nrf/Makefile: Clean up dangling LIBS declaration.
  ports/nrf/Makefile
Labels: port-nrf

#12559 docs/library/machine: Add docs for RTC.memory() method.
  docs/library/machine.RTC.rst
Labels: docs, maintainer-queue

#14182 rp2/CMakeLists: Apply O2 optimisation to vm and mpz source code.
  ports/rp2/CMakeLists.txt
Labels: port-rp2

#14191 stm32/README.md: Update list of supported STM32 series.
  ports/stm32/README.md
Labels: docs, port-stm32

#14206 extmod/modtls_axtls: Add verify_mode and CERT_NONE constant.
  extmod/modtls_axtls.c
Labels: extmod

#14205 tests/net_inet: Add simpler tls sites test, and skip existing on axtls.
  tests/net_inet/test_tls_sites.py
  tests/net_inet/test_tls_sites_simple.py
Labels: tests

#14212 samd/mcu: Guard static function with appropriate #if.
  ports/samd/mcu/samd21/clock_config.c
Labels: port-samd
