Repository micropython/micropython, pull requests merged in 2024-08, with the labels that each got.

#15538 esp32: Fix heap corruption triggered by bluetooth.active(0).
  ports/esp32/mpnimbleport.c
Labels: port-esp32

#15517 py/py.mk: Add USERMOD_LIB_ASM to include assembly files.
  docs/develop/cmodules.rst
  py/py.mk
Labels: py-core

#15529 docs/neopixel: Mention bitstream timing tuple
  docs/library/neopixel.rst
Labels: docs

#15540 tests,esp32: Skip soft timer test on esp32 port, rename.
  tests/extmod/machine_soft_timer.py
Labels: port-esp32, tests

#15573 py/emitnative: Fix case of clobbered REG_TEMP0 when loading const obj.
  py/emitnative.c
Labels: py-core

#15589 esp32/main: Store native code as linked list instead of list on GC heap.
  ports/esp32/main.c
Labels: port-esp32

#15584 tests/extmod: Rename machine_timer exp file to machine_soft_timer.
  tests/extmod/machine_soft_timer.py.exp
Labels: tests

#15543 tests: Add machine_spi_rate test.
  tests/extmod/machine_spi_rate.py
  tests/extmod/machine_spi_rate.py.exp
Labels: tests

#15598 qemu-arm: Fix tinytest test profile when updating set of dirs/files.
  ports/qemu-arm/tests_profile.txt
  ports/qemu-riscv/tests_profile.txt
Labels: ports

#15578 mpy-cross/main: Use MICROPY_BANNER_NAME_AND_VERSION for --version.
  mpy-cross/main.c
Labels: py-core

#15385 esp32/network_lan: LAN.active(True) should succeed if already active.
  ports/esp32/network_lan.c
Labels: port-esp32

#15426 esp32/network_lan: Check for valid LAN MAC address.
  ports/esp32/network_lan.c
Labels: port-esp32

#15650 py/obj.h: Remove the legacy object API for version 2.
  py/obj.h
Labels: py-core

#15659 test,esp32: Fix machine_spi_rate test on ESP32-C3.
  tests/extmod/machine_spi_rate.py
Labels: port-esp32, tests

#15610 esp32: Restore ESP32-C3 brownout detector settings to IDF defaults.
  ports/esp32/boards/ESP32_GENERIC_C3/sdkconfig.c3usb
  ports/esp32/boards/LOLIN_C3_MINI/sdkconfig.board
Labels: port-esp32

#15625 esp32/boards: Remove BLE from list of features for ESP32-S2.
  ports/esp32/boards/ESP32_GENERIC_S2/board.json
Labels: port-esp32

#15634 esp32/mphalport: Print debug strings even before the GIL is ready.
  ports/esp32/mpconfigport.h
  ports/esp32/mphalport.c
Labels: port-esp32

#15664 esp32: Fix stack margin for bluetooth irq task, remove extra ESP32-C3 margin
  ports/esp32/mpconfigport.h
Labels: port-esp32

#13483 ports/esp32: Add the M5Stack AtomS3 Lite board.
  ports/esp32/boards/M5STACK_ATOMS3_LITE/board.json
  ports/esp32/boards/M5STACK_ATOMS3_LITE/board.md
  ports/esp32/boards/M5STACK_ATOMS3_LITE/deploy.md
  ports/esp32/boards/M5STACK_ATOMS3_LITE/mpconfigboard.cmake
  ports/esp32/boards/M5STACK_ATOMS3_LITE/mpconfigboard.h
  ports/esp32/boards/M5STACK_ATOMS3_LITE/pins.csv
Labels: port-esp32, board-definition

#11985 esp32/boards/LILYGO_TTGO_LORA32: Add necessary reset sequence for OLED display
  ports/esp32/boards/LILYGO_TTGO_LORA32/modules/lilygo_oled.py
  ports/esp32/boards/LILYGO_TTGO_LORA32/modules/lora32.py
Labels: port-esp32

#12057 py/objstr: Skip whitespace in bytes.fromhex().
  py/objstr.c
  tests/basics/builtin_str_hex.py
  tests/basics/builtin_str_hex.py.exp
Labels: py-core

#15658 stm32/stm32_it: Enable PVD_PVM_IRQHandler for stm32wb and stm32wl.
  ports/stm32/stm32_it.c
Labels: port-stm32

#15582 ports/stm32: Allow HSE to be a wakeup source for BLE for the WB55.
  ports/stm32/rfcore.c
Labels: port-stm32

#14344 Fix 'make submodules' when building out-of-tree
  py/mkrules.mk
Labels: py-core

#15239 samd/mcu/samd21/mpconfigmcu.h:Allow user to enable additional options.
  ports/samd/mcu/samd21/mpconfigmcu.h
Labels: port-samd

#15652 shared/tinyusb: Allow ports to define CDC TX/RX buffer sizes.
  shared/tinyusb/tusb_config.h
Labels: shared

#15657 extmod/mbedtls: Optimise the DER certificate parsing fix.
  extmod/modtls_mbedtls.c
Labels: extmod

#15676 wiznet5k: Add support for IPv6.
  extmod/network_wiznet5k.c
Labels: extmod
