Repository micropython/micropython, pull requests merged in 2024-09, with the labels that each got.

#15782 esp32: Fix ARDUINO_NANO_ESP32 build configuration.
  ports/esp32/boards/ARDUINO_NANO_ESP32/mpconfigboard.h
Labels: bug, port-esp32

#15771 esp32: Disable hardware stack protection on ESP32-C3.
  ports/esp32/boards/ESP32_GENERIC_C3/sdkconfig.c3usb
  ports/esp32/boards/LOLIN_C3_MINI/sdkconfig.board
Labels: bug, port-esp32

#15666 tests/net_inet: Update micropython.org certificate for SSL tests.
  tests/net_inet/mpycert.der
  tests/net_inet/ssl_cert.py
  tests/net_inet/test_sslcontext_client.py
Labels: tests

#15669 tests/run-tests.py: Automatically detect native arch and mpy-cross flag.
  tests/feature_check/target_info.py
  tests/feature_check/target_info.py.exp
  tests/run-tests.py
Labels: tests

#15738 tools/mpy_ld: Ignore R_XTENSA_ASM_EXPAND relocation entries.
  tools/mpy_ld.py
Labels: tools

#15747 extmod/libmetal: Fix libmetal rule.
  extmod/libmetal/libmetal.mk
Labels: extmod

#15796 ports/stm32: Updated STM32L452XX Multi OTG handling
  ports/stm32/mpconfigboard_common.h
  ports/stm32/stm32_it.c
  ports/stm32/usbd_conf.c
Labels: port-stm32

#15824 ports/stm32: Add DAC support to the STM32F429DISC.
  ports/stm32/boards/STM32F429DISC/mpconfigboard.h
Labels: port-stm32

#15813 examples/natmod: Fix links in README.md.
  examples/natmod/README.md
Labels: docs

#12666 docs/esp32/tutorial: Update pin access example with addresses for ESP32-S3.
  docs/esp32/tutorial/peripheral_access.rst
Labels: docs

#15758 docs/reference/pyboard.py: Fix filesystem cp example with three files.
  docs/reference/pyboard.py.rst
Labels: docs

#15821 docs/library/math: Document math.log with two arguments.
  docs/library/math.rst
Labels: docs

#15822 doc: Document machine.Pin.toggle() method.
  docs/library/machine.Pin.rst
Labels: docs, port-samd, port-mimxrt, port-rp2

#15785 rp2/modules: Fix FatFS boot script.
  ports/rp2/modules/_boot_fat.py
Labels: port-rp2

#15800 tools/ci.sh: Clean up Arm, MIPS, and RV64 Unix port build steps.
  tools/ci.sh
Labels: tools

#15812 tools/mpy_ld.py: Support jumping more than 2k on armv6m architectures.
  tools/mpy_ld.py
Labels: tools

#15225 ports/esp32: Added FeatherS3 Neo.
  ports/esp32/boards/UM_FEATHERS3NEO/board.json
  ports/esp32/boards/UM_FEATHERS3NEO/board.md
  ports/esp32/boards/UM_FEATHERS3NEO/deploy.md
  ports/esp32/boards/UM_FEATHERS3NEO/manifest.py
  ports/esp32/boards/UM_FEATHERS3NEO/modules/feathers3neo.py
  ports/esp32/boards/UM_FEATHERS3NEO/mpconfigboard.cmake
  ports/esp32/boards/UM_FEATHERS3NEO/mpconfigboard.h
  ports/esp32/boards/UM_FEATHERS3NEO/pins.csv
  ports/esp32/boards/UM_FEATHERS3NEO/sdkconfig.board
Labels: port-esp32, board-definition

#9458 py/ringbuf: Add micropython.ringbuffer() interface for general use.
  docs/library/micropython.rst
  ports/unix/coverage.c
  py/modmicropython.c
  py/mpconfig.h
  py/obj.h
  py/objringio.c
  py/py.cmake
  py/py.mk
  py/ringbuf.c
  py/ringbuf.h
  tests/micropython/ringio.py
  tests/micropython/ringio.py.exp
  tests/micropython/ringio_async.py
  tests/micropython/ringio_async.py.exp
  tests/ports/unix/extra_coverage.py.exp
Labels: py-core

#15880 esp32/boards: Fixed um_rgbtouch_mini compile error.
  ports/esp32/boards/UM_RGBTOUCH_MINI/manifest.py
Labels: port-esp32

#15798 ports/stm32/uart: Add an option to disable UART RX pull-up.
  ports/stm32/uart.c
Labels: port-stm32

#15160 renesas/README: Add basic details about board autogen files.
  ports/renesas-ra/README.md
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/configuration.xml
Labels: port-renesas-ra

#15171 renesas-ra/boards: Add configuration.xml for auto-generated files.
  ports/renesas-ra/boards/EK_RA4M1/configuration.xml
  ports/renesas-ra/boards/EK_RA4W1/configuration.xml
  ports/renesas-ra/boards/EK_RA6M1/configuration.xml
  ports/renesas-ra/boards/EK_RA6M2/configuration.xml
  ports/renesas-ra/boards/RA4M1_CLICKER/configuration.xml
Labels: port-renesas-ra

#15550 renesas-ra/usb: Use interrupt rather than polling for usb task.
  ports/renesas-ra/Makefile
  ports/renesas-ra/mpconfigport.h
Labels: port-renesas-ra

#13572 extmod: Check vfs block device invalid return values, increase error handling
  extmod/vfs_blockdev.c
  tests/extmod/vfs_blockdev_invalid.py
  tests/extmod/vfs_blockdev_invalid.py.exp
Labels: bug, extmod

#15757 ports: Fix lwIP config setting to disable DHCP ARP check.
  ports/mimxrt/lwip_inc/lwipopts.h
  ports/renesas-ra/lwip_inc/lwipopts.h
  ports/rp2/lwip_inc/lwipopts.h
  ports/stm32/lwip_inc/lwipopts.h
Labels: ports

#15914 rp2: Fix dropped UART REPL bytes on soft reset.
  ports/rp2/machine_uart.c
Labels: port-rp2

#15907 esp32: Remove old compiler workaround.
  ports/esp32/mpconfigport.h
  py/parse.c
Labels: port-esp32
