Repository micropython/micropython, pull requests merged in 2024-06, with the labels that each got.

#15189 shared/tinyusb: Allow ports to use 1200bps-touch without other CDC code.
  ports/esp32/boards/ARDUINO_NANO_ESP32/board_init.c
  ports/esp32/usb.c
  ports/nrf/mpconfigport.h
  shared/tinyusb/mp_usbd_cdc.c
  shared/tinyusb/mp_usbd_cdc.h
Labels: port-esp32, port-nrf

#15179 rp2/modmachine: Use atomic section macros
  ports/rp2/modmachine.c
Labels: port-rp2

#15111 rp2: Selectively leave the USB clocks enabled in light sleep.
  ports/rp2/modmachine.c
Labels: port-rp2

#15197 tools/metrics.py: Change rp2 board selection to RPI_PICO_W.
  tools/ci.sh
  tools/metrics.py
Labels: tools

#12684 tools/makemanifest.py: Generate working code for empty manifests.
  tools/makemanifest.py
Labels: tools

#15094 py: Add RISC-V RV32I NLR.
  py/nlr.h
  py/nlrrv32.c
  py/py.cmake
  py/py.mk
Labels: py-core

#15183 lib/libm/wf_[lt]gamma: Define _IEEE_LIBM only if not set.
  lib/libm/wf_lgamma.c
  lib/libm/wf_tgamma.c
Labels: lib

#15217 py/lexer: Support concatenation of adjacent f-strings.
  py/lexer.c
  tests/basics/string_fstring.py
  tests/cpydiff/core_fstring_concat.py
Labels: py-core

#15218 py/lexer: Support raw f-strings.
  py/lexer.c
  py/lexer.h
  py/parse.c
  tests/basics/string_fstring.py
  tests/cmdline/cmd_parsetree.py.exp
  tests/cpydiff/core_fstring_raw.py
Labels: py-core

#15222 rp2/cyw43_configport: Make cyw43_delay_ms() a busy loop.
  ports/rp2/cyw43_configport.h
Labels: port-rp2

#15240 extmod/modplatform: Add picolibc to the recognised libcs list.
  extmod/modplatform.h
Labels: extmod

#13328 zephyr: Link MicroPython with the Zephyr kernel library.
  ports/zephyr/CMakeLists.txt
  ports/zephyr/src/zephyr_start.c
Labels: port-zephyr

#15293 webassembly/objjsproxy: Implement proxying of JS iterable protocol.
  ports/webassembly/objjsproxy.c
  tests/ports/webassembly/js_proxy_iterator.mjs
  tests/ports/webassembly/js_proxy_iterator.mjs.exp
Labels: port-webassembly

#15299 webassembly: Support top-level await of asyncio Task and Event.
  ports/webassembly/asyncio/core.py
  ports/webassembly/modjsffi.c
  ports/webassembly/proxy_c.c
  ports/webassembly/qstrdefsport.h
  tests/ports/webassembly/asyncio_top_level_await.mjs
  tests/ports/webassembly/asyncio_top_level_await.mjs.exp
Labels: port-webassembly

#15324 tests/cpydiff: Remove deque difference test.
  tests/cpydiff/modules_deque.py
Labels: tests

#15265 tests/thread: Restore gc before test case ends.
  tests/thread/stress_schedule.py
Labels: tests

#15311 tools/mpremote: Fix absolute path usage in remote mounted VFS.
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#15264 rp2: Fix recursive atomic sections when core1 is active.
  ports/rp2/mpthreadport.c
  ports/rp2/mutex_extra.c
  ports/rp2/mutex_extra.h
  tests/thread/disable_irq.py
  tests/thread/disable_irq.py.exp
Labels: bug, port-rp2

#15271 py/objarray.c: Fix buffer overflow in case of memory allocation failure.
  py/objarray.c
Labels: py-core

#15339 shared/tinyusb/mp_usbd_cdc: Fix short CDC TX timeouts.
  shared/tinyusb/mp_usbd_cdc.c
Labels: shared

#15350 tools/mpy-tool.py : Fix "freezing int to long-long is not implemented".
  tools/mpy-tool.py
Labels: tools

#15332 tools/mpremote: Fix mpremote mip install with multiple lib folders in sys.path.
  tools/mpremote/mpremote/mip.py
Labels: tools

#15337 webassembly/objjsproxy: Lookup attributes without testing they exist.
  ports/webassembly/objjsproxy.c
  tests/ports/webassembly/js_proxy_attribute.mjs
  tests/ports/webassembly/js_proxy_attribute.mjs.exp
Labels: port-webassembly

#15378 rp2/boards/WEACTSTUDIO: Fix variant names in board.json.
  ports/rp2/boards/WEACTSTUDIO/board.json
Labels: port-rp2
