Repository micropython/micropython, pull requests merged in 2024-05, with the labels that each got.

#14202 stm32/i2c: Fix clock enable for I2C4 on STM32F7 MCUs.
  ports/stm32/i2c.c
Labels: port-stm32

#14411 webassembly/api: Fix importing micropython.mjs module from node REPL.
  ports/webassembly/api.js
Labels: port-webassembly

#14438 webassembly/api: Resolve thenables returned from runPythonAsync.
  ports/webassembly/api.js
  tests/ports/webassembly/run_python_async_no_await.mjs
  tests/ports/webassembly/run_python_async_no_await.mjs.exp
Labels: port-webassembly

#13276 esp32/modesp32.c: Add mcu_temperature() function for C3/S2/S3 devices.
  docs/esp32/quickref.rst
  ports/esp32/modesp32.c
Labels: port-esp32

#14222 wiznet5k: Properly enable socket buffers for W5100(S).
  extmod/network_wiznet5k.c
Labels: extmod

#14441 shared/tinyusb: Stall the CDC IN endpoint while disconnecting.
  shared/tinyusb/mp_usbd_runtime.c
Labels: bug, port-samd, port-rp2

#14410 doc: Update note about high-level usb packages in micropython-lib.
  docs/library/machine.USBDevice.rst
Labels: docs

#14487 docs/library/asyncio: Document that ThreadSafeFlag now works on unix.
  docs/library/asyncio.rst
Labels: docs

#14477 examples/usb: Add README that points out the alternative usb modules.
  examples/usb/README.md
Labels: docs

#14486 ports/stm32: Correct STM32G4 FDCAN clock frequency.
  ports/stm32/pyb_can.c
Labels: port-stm32, drivers

#14086 ports/esp32: Print support information on panic.
  ports/esp32/CMakeLists.txt
  ports/esp32/esp32_common.cmake
  ports/esp32/panichandler.c
Labels: port-esp32, maintainer-queue

#15107 esp32: Add support for TCP_NODELAY.
  ports/esp32/modsocket.c
Labels: port-esp32

#15125 rp2/boards/W5500_EVB_PICO: Update incorrect url in board.json.
  ports/rp2/boards/W5500_EVB_PICO/board.json
Labels: port-rp2, board-definition
