Repository micropython/micropython, pull requests merged in 2025-10, with the labels that each got.

#18085 tests: Remove some .py.exp files that now match with CPython.
  tests/README.md
  tests/basics/annotate_var.py.exp
  tests/basics/assign_expr.py.exp
  tests/basics/assign_expr_scope.py.exp
  tests/basics/async_await.py.exp
  tests/basics/async_await2.py.exp
  tests/basics/async_def.py.exp
  tests/basics/async_for.py.exp
  tests/basics/async_for2.py.exp
  tests/basics/async_syntaxerror.py.exp
  tests/basics/async_with.py.exp
  tests/basics/async_with2.py.exp
  tests/basics/async_with_break.py.exp
  tests/basics/async_with_return.py.exp
  tests/basics/bytes_format_modulo.py.exp
  tests/basics/class_inplace_op2.py.exp
  tests/basics/class_ordereddict.py.exp
  tests/basics/fun_code_full.py.exp
  tests/basics/python36.py.exp
  tests/basics/special_methods2.py.exp
  tests/basics/string_fstring_debug.py.exp
  tests/basics/try_finally_continue.py.exp
  tests/extmod/asyncio_basic.py.exp
  tests/extmod/asyncio_lock.py.exp
  tests/extmod/asyncio_wait_task.py.exp
  tests/extmod/json_loads_bytes.py.exp
  tests/extmod/re_sub_unmatched.py.exp
Labels: tests

#15909 tools/test_serial.py: Add test for serial throughput.
  tests/README.md
  tests/serial_test.py
Labels: tests

#18139 unix/make: Allow out-of-tree test.
  ports/unix/Makefile
Labels: port-unix

#18191 webassembly/objjsproxy: Support arbitrary number of args with kwargs.
  ports/webassembly/objjsproxy.c
  tests/ports/webassembly/fun_call.mjs
  tests/ports/webassembly/fun_call.mjs.exp
Labels: port-webassembly

#15861 esp32/i2c: Use idf function for calculating main timeout.
  ports/esp32/machine_i2c.c
Labels: port-esp32
