Repository micropython/micropython, pull requests merged in 2025-09, with the labels that each got.

#18007 esp32: Revert "esp32/mpconfigport: Disable I2CTarget on ESP32-C6 to ..".
  ports/esp32/mpconfigport.h
Labels: port-esp32

#17856 esp32/machine_uart: Fix leaks of machine.UART irq & event task.
  ports/esp32/machine_uart.c
  ports/esp32/main.c
  ports/esp32/modmachine.h
Labels: port-esp32

#17832 py/makeversionhdr.py: Always abbreviate Git hashes to same length.
  py/makeversionhdr.py
Labels: py-core

#18059 py/obj: Document undocumented MP_TYPE_FLAG values.
  py/obj.h
Labels: py-core

#18077 py: py.cmake: Add nlraarch64
  py/py.cmake
Labels: py-core

#18071 stm32/i2c: Add hardware I2C implementation for STM32G4.
  ports/stm32/i2c.c
  ports/stm32/machine_i2c.c
Labels: port-stm32

#18067 stm32/uart: Enable UART FIFO for STM32N6.
  ports/stm32/Makefile
  ports/stm32/uart.c
Labels: port-stm32

#18075 stm32: Fix LPUART init failure with low baudrate.
  ports/stm32/uart.c
Labels: port-stm32

#18087 stm32/main: Use defined constants to enable N6 clocks during low power.
  ports/stm32/main.c
Labels: port-stm32

#18054 tests/README: Update docs for run-perfbench.py now that it uses -t.
  tests/README.md
Labels: tests

#18009 stm32/adc: Get ADC working on STM32N6 MCUs.
  ports/stm32/adc.c
  ports/stm32/machine_adc.c
  ports/stm32/main.c
Labels: port-stm32

#17984 nrf/modules/machine/spi: Print SPI baudrate, polarity and phase.
  ports/nrf/modules/machine/spi.c
Labels: port-nrf

#18119 stm32: Fix passing invalid argument to RTC callback.
  ports/stm32/extint.c
  ports/stm32/extint.h
  ports/stm32/rtc.c
Labels: port-stm32
