Repository micropython/micropython, pull requests merged in 2025-03, with the labels that each got.

#16812 py/obstr: Support tuples as pre/suffix in startswith() and endswith().
  py/objstr.c
  tests/basics/string_endswith.py
  tests/basics/string_endswith_upy.py
  tests/basics/string_endswith_upy.py.exp
  tests/basics/string_startswith.py
  tests/basics/string_startswith_upy.py
  tests/basics/string_startswith_upy.py.exp
  tests/misc/non_compliant.py
  tests/misc/non_compliant.py.exp
Labels: py-core

#16820 tests/run-tests: Two small quality-of-life improvements for unittest.
  tests/run-tests.py
Labels: tools

#16843 py/modsys: Add sys.implementation._build entry.
  docs/library/sys.rst
  py/mkrules.cmake
  py/mkrules.mk
  py/modsys.c
  tests/basics/sys1.py
Labels: py-core

#16793 zephyr: Add watchdog timer implementation.
  ports/zephyr/machine_wdt.c
  ports/zephyr/mpconfigport.h
  ports/zephyr/prj.conf
Labels: port-zephyr

#16765 esp8266/network_wlan: Allow enumerating connected stations in AP mode.
  docs/library/network.WLAN.rst
  ports/esp8266/network_wlan.c
Labels: port-esp8266

#16854 nrf/modules: Fix access of read-only buffer in Flash.writeblocks.
  ports/nrf/modules/nrf/flashbdev.c
Labels: port-nrf

#16794 zephyr: Create machine.Timer class implementation.
  ports/zephyr/CMakeLists.txt
  ports/zephyr/machine_timer.c
  ports/zephyr/modmachine.c
Labels: port-zephyr

#16369 esp32/machine_pwm.c: Correctly stop pwm timer
  ports/esp32/machine_pwm.c
Labels: port-esp32

#16236 esp32/machine_pin.c: Fix the logic when to clear USB_SERIAL_JTAG_USB_PAD_ENABLE
  ports/esp32/machine_pin.c
  ports/esp32/machine_pin.h
Labels: port-esp32

#16828 shared/runtime/pyexec: Add a function to execute vstr.
  shared/runtime/pyexec.c
  shared/runtime/pyexec.h
Labels: shared

#16850 mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT: Add the Makerdiary RT1011 board.
  docs/mimxrt/pinout.rst
  ports/mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT/board.json
  ports/mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT/deploy_makerdiary.md
  ports/mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT/mpconfigboard.h
  ports/mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT/mpconfigboard.mk
  ports/mimxrt/boards/MAKERDIARY_RT1011_NANO_KIT/pins.csv
Labels: port-mimxrt, board-definition

#16475 docs/rp2: Add wlan information to the quickref.
  docs/esp32/quickref.rst
  docs/rp2/quickref.rst
Labels: docs

#16904 extmod/vfs_rom: Implement minimal VfsRom.getcwd() method.
  extmod/vfs_rom.c
  tests/extmod/vfs_rom.py
Labels: extmod

#16905 tools/mpremote: Make mip install skip /rom*/lib directories.
  tools/mpremote/mpremote/mip.py
Labels: tools
