Repository micropython/micropython, pull requests merged in 2025-04, with the labels that each got.

#17057 ports/rp2: Fix rp2 mDNS issue via new cyw43 driver hooks.
  ports/rp2/cyw43_configport.h
Labels: port-rp2

#11944 stm32/main: Catch and report corrupted lfs filesystem at startup.
  ports/stm32/main.c
  ports/stm32/storage.c
  ports/stm32/storage.h
Labels: port-stm32

#16587 ports/stm32/boards: Add F427 AF file.
  ports/stm32/boards/stm32f427_af.csv
Labels: port-stm32

#16996 ports/stm32/timer.c: Add support for STM32H5 Timer 1.
  ports/stm32/timer.c
Labels: port-stm32

#16993 esp32/esp32_common.cmake: RISC-V improvements.
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#17031 mpy_ld.py: Improve error for ARMv6m absolute relocations
  tools/mpy_ld.py
Labels: tools

#17073 rp2: Fix linker issue with gap alignment on CI.
  tools/ci.sh
Labels: port-rp2

#17061 doc: Update CPython difference for assign expression in nested comprehensions.
  tests/cpydiff/syntax_assign_expr.py
Labels: docs

#17037 tools/mpremote/commands.py: Validate romfs image.
  tools/mpremote/mpremote/commands.py
Labels: tools

#17107 mimxrt/Makefile: Fix dependencies for generation of flexram_config.s.
  ports/mimxrt/Makefile
Labels: port-mimxrt

#17109 py/emitinlinerv32: Move include of asmrv32.h to within feature guard.
  py/emitinlinerv32.c
Labels: py-core

#16979 unix/main: Remove PATH_MAX from realpath.
  ports/unix/main.c
Labels: port-unix

#16261 unix/mpthreadport: Work around lack of thread cancellation on Android.
  ports/unix/mpthreadport.c
Labels: port-unix

#16958 codeconventions: Document the static naming conventions.
  CODECONVENTIONS.md
Labels: docs

#16967 dynruntime.mk: fix musl's libm.a when LINK_RUNTIME=1
  py/dynruntime.mk
Labels: py-core

#16978 esp32/esp32_common.cmake: Skip BTree module when requested.
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#17178 tests/extmod/vfs_posix.py: Fix test on Android.
  tests/extmod/vfs_posix.py
Labels: tests

#17143 tools/mpremote: Use zlib.compressobj instead of zlib.compress.
  tools/mpremote/mpremote/commands.py
Labels: tools

#16323 ports/zephyr: Create options for frozen modules
  ports/zephyr/CMakeLists.txt
  ports/zephyr/Kconfig
  ports/zephyr/boards/manifest.py
Labels: port-zephyr

#16877 ports/zephyr: Add nrf5340dk board.
  ports/zephyr/boards/nrf5340dk_nrf5340_cpuapp.conf
  ports/zephyr/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: port-zephyr

#16878 ports/zephyr: Add nrf9151dk board.
  ports/zephyr/boards/nrf9151dk_nrf9151.conf
  ports/zephyr/boards/nrf9151dk_nrf9151.overlay
Labels: port-zephyr
