Repository micropython/micropython, pull requests merged in 2025-08, with the labels that each got.

#16666 py/parse: Add support for math module constants and float folding
  mpy-cross/mpconfigport.h
  py/builtin.h
  py/emitcommon.c
  py/mpconfig.h
  py/parse.c
  tests/float/float_parse_doubleprec.py
  tests/micropython/const_error.py
  tests/micropython/const_error.py.exp
  tests/micropython/const_float.py
  tests/micropython/const_float.py.exp
  tests/micropython/const_math.py
  tests/micropython/const_math.py.exp
Labels: py-core

#17775 mpremote/mp_errno: Fix errno.ENOTBLK error on Windows.
  tools/mpremote/mpremote/mp_errno.py
Labels: tools

#17776 mpremote: fix esp usb reset
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#17519 rp2/pio: Fix the RP2350 (PICO2) Port PIO2 prog data structure
  ports/rp2/modules/rp2.py
  ports/rp2/rp2_pio.c
Labels: port-rp2

#17648 docs: Fix method links in btree.rst
  docs/library/btree.rst
Labels: docs

#17823 renesas-ra/mpconfigport: Enable MICROPY_TIME_SUPPORT_Y1969_AND_BEFORE.
  ports/renesas-ra/mpconfigport.h
Labels: port-renesas-ra

#17844 esp32: Fix UART rxidle and machine.Timer on ESP32-C2,C6
  ports/esp32/machine_timer.c
  ports/esp32/machine_timer.h
  ports/esp32/machine_uart.c
Labels: port-esp32

#17768 tests/run-tests.py: Run tests-with-regex-output as normal tests.
  tests/run-tests.py
Labels: tests

#17836 esp32: Support building against IDFv5.5.
  ports/esp32/boards/sdkconfig.base
  ports/esp32/esp32_common.cmake
  ports/esp32/machine_timer.c
  ports/esp32/modespnow.c
  ports/esp32/network_wlan.c
Labels: port-esp32

#17656 esp32/network_ppp: Bugfixes for deadlocks and crashes when disconnecting.
  extmod/network_ppp_lwip.c
  ports/esp32/network_ppp.c
Labels: port-esp32

#13586 tools\mpremote\mpremote\transport_serial.py: Fix encoding error in PyboardCommand class.
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#14179 re: Add support for start- and endpos.
  docs/library/re.rst
  extmod/modre.c
  tests/extmod/re_start_end_pos.py
Labels: extmod

#17652 py/asmrv32: Make lt/le comparisons emitter shorter.
  py/asmrv32.c
Labels: py-core

#17843 py/misc: Add explicit dependency on py/mpconfig.h.
  py/misc.h
Labels: py-core

#17881 tests/misc/rge_sm.py: Remove unused code from the test.
  tests/misc/rge_sm.py
Labels: tests

#17897 tests: Require SSL certificate file to be available for test to run.
  tests/multi_net/asyncio_tls_server_client.py
  tests/multi_net/asyncio_tls_server_client_cert_required_error.py
  tests/multi_net/asyncio_tls_server_client_readline.py
  tests/multi_net/asyncio_tls_server_client_verify_error.py
  tests/multi_net/ssl_cert_ec.py
  tests/multi_net/ssl_cert_rsa.py
  tests/multi_net/sslcontext_check_hostname_error.py
  tests/multi_net/sslcontext_getpeercert.py
  tests/multi_net/sslcontext_server_client_files.py
  tests/multi_net/sslcontext_verify_error.py
  tests/multi_net/sslcontext_verify_time_error.py
  tests/net_inet/asyncio_tls_open_connection_readline.py
  tests/net_inet/test_sslcontext_client.py
Labels: tests

#17883 py/parse: Remove explicit checks for invalid folding operations.
  py/parse.c
Labels: py-core

#17884 py/objtype: Make mp_obj_new_type a static function.
  ports/unix/main.c
  py/obj.h
  py/objtype.c
Labels: py-core

#17898 extmod/modtime: Move tuple creation to common localtime implementation.
  extmod/modtime.c
  ports/cc3200/mods/modtime.c
  ports/esp32/modtime.c
  ports/esp8266/modtime.c
  ports/mimxrt/modtime.c
  ports/renesas-ra/modtime.c
  ports/rp2/modtime.c
  ports/samd/modtime.c
  ports/stm32/modtime.c
  ports/webassembly/modtime.c
Labels: extmod

#17901 alif/mpconfigport: Enable cryptolib and hashlib.md5/sha1.
  ports/alif/mpconfigport.h
Labels: port-alif

#17908 alif/alif.mk: Add MPY_CROSS_FLAGS setting.
  ports/alif/alif.mk
Labels: port-alif

#17765 zephyr: Upgrade to Zephyr v4.2.0.
  docs/zephyr/tutorial/repl.rst
  ports/zephyr/README.md
  tools/ci.sh
Labels: port-zephyr

#17946 py/asmthumb: Fix T3 encoding of conditional branches.
  py/asmthumb.c
  tests/micropython/viper_large_jump.py
  tests/micropython/viper_large_jump.py.exp
Labels: py-core

#17904 network_ppp: Stop polling if stream or PPP PCB are removed.
  extmod/network_ppp_lwip.c
  ports/esp32/network_ppp.c
Labels: port-esp32, extmod

#17955 tests/micropython: Make tests behave in low memory condition.
  tests/micropython/viper_ptr16_store_boundary.py
  tests/micropython/viper_ptr16_store_boundary.py.exp
  tests/micropython/viper_ptr32_store_boundary.py
  tests/micropython/viper_ptr32_store_boundary.py.exp
  tests/micropython/viper_ptr8_store_boundary.py
  tests/micropython/viper_ptr8_store_boundary.py.exp
Labels: tests

#17838 docs: Fix a comment regarding make_new slot.
  py/obj.h
Labels: py-core

#17306 tools/mpy-tool.py: Allow dumping MPY segments into their own files.
  tools/mpy-tool.py
Labels: tools
