Repository micropython/micropython, pull requests merged in 2025-06, with the labels that each got.

#17373 tests/run-tests.py: Change _results.json to have a combined result list.
  tests/run-tests.py
Labels: tests

#16031 ports: Update board.json files for vendor/product consistency.
  ports/esp32/boards/ARDUINO_NANO_ESP32/board.json
  ports/esp32/boards/LILYGO_TTGO_LORA32/board.json
  ports/esp32/boards/M5STACK_ATOM/board.json
  ports/esp32/boards/M5STACK_ATOMS3_LITE/board.json
  ports/esp32/boards/M5STACK_NANOC6/board.json
  ports/esp32/boards/OLIMEX_ESP32_EVB/board.json
  ports/esp32/boards/OLIMEX_ESP32_POE/board.json
  ports/esp32/boards/SIL_WESP32/board.json
  ports/mimxrt/boards/ADAFRUIT_METRO_M7/board.json
  ports/mimxrt/boards/OLIMEX_RT1010/board.json
  ports/nrf/boards/ACTINIUS_ICARUS/board.json
  ports/nrf/boards/ARDUINO_NANO_33_BLE_SENSE/board.json
  ports/nrf/boards/ARDUINO_PRIMO/board.json
  ports/nrf/boards/BLUEIO_TAG_EVIM/board.json
  ports/nrf/boards/DVK_BL652/board.json
  ports/nrf/boards/EVK_NINA_B1/board.json
  ports/nrf/boards/EVK_NINA_B3/board.json
  ports/nrf/boards/IBK_BLYST_NANO/board.json
  ports/nrf/boards/IDK_BLYST_NANO/board.json
  ports/nrf/boards/NRF52840_MDK_USB_DONGLE/board.json
  ports/nrf/boards/SEEED_XIAO_NRF52/board.json
  ports/nrf/boards/WT51822_S4AT/board.json
  ports/renesas-ra/boards/ARDUINO_PORTENTA_C33/board.json
  ports/rp2/boards/ARDUINO_NANO_RP2040_CONNECT/board.json
  ports/rp2/boards/GARATRONIC_PYBSTICK26_RP2040/board.json
  ports/rp2/boards/POLOLU_3PI_2040_ROBOT/board.json
  ports/rp2/boards/POLOLU_ZUMO_2040_ROBOT/board.json
  ports/rp2/boards/SPARKFUN_PROMICRO/board.json
  ports/rp2/boards/SPARKFUN_THINGPLUS/board.json
  ports/rp2/boards/W5100S_EVB_PICO/board.json
  ports/rp2/boards/W5500_EVB_PICO/board.json
  ports/rp2/boards/WEACTSTUDIO/board.json
  ports/samd/boards/SEEED_XIAO_SAMD21/board.json
  ports/samd/boards/SPARKFUN_SAMD51_THING_PLUS/board.json
  ports/stm32/boards/ARDUINO_GIGA/board.json
  ports/stm32/boards/ARDUINO_NICLA_VISION/board.json
  ports/stm32/boards/ARDUINO_OPTA/board.json
  ports/stm32/boards/ARDUINO_PORTENTA_H7/board.json
  ports/stm32/boards/HYDRABUS/board.json
  ports/stm32/boards/LIMIFROG/board.json
  ports/stm32/boards/OLIMEX_E407/board.json
  ports/stm32/boards/OLIMEX_H407/board.json
  ports/stm32/boards/SPARKFUN_MICROMOD_STM32/board.json
Labels: ports

#17230 stm32/machine_adc: Enable ADC re-read errata handling for STM32WB55.
  ports/stm32/machine_adc.c
Labels: port-stm32

#17247 extmod/nimble: Add timeout to deinit.
  extmod/btstack/modbluetooth_btstack.c
  extmod/modbluetooth.c
  extmod/modbluetooth.h
  extmod/nimble/modbluetooth_nimble.c
  extmod/nimble/modbluetooth_nimble.h
  ports/esp32/mpnimbleport.c
  ports/unix/main.c
  ports/zephyr/modbluetooth_zephyr.c
Labels: extmod

#17358 extmod/modframebuf: Add support for blit'ing read-only data.
  docs/library/framebuf.rst
  examples/natmod/framebuf/framebuf.c
  extmod/modframebuf.c
  tests/extmod/framebuf_blit.py
  tests/extmod/framebuf_blit.py.exp
Labels: extmod

#17349 mpy-cross: exit with error if arch not given when needed, and add `emit=host` option to help
  mpy-cross/main.c
Labels: py-core

#16630 esp32: ADC driver update to the new esp_adc.
  docs/esp32/quickref.rst
  ports/esp32/adc.c
  ports/esp32/adc.h
  ports/esp32/boards/sdkconfig.base
  ports/esp32/machine_adc.c
  ports/esp32/machine_adc_block.c
  ports/esp32/modesp32.c
  ports/esp32/mpconfigport.h
Labels: port-esp32

#17391 extmod/modnetwork: Consolidate definition of common drivers.
  extmod/modnetwork.c
  extmod/modnetwork.h
  extmod/network_esp_hosted.c
  extmod/network_wiznet5k.c
  ports/alif/mpconfigport.h
  ports/mimxrt/mpconfigport.h
  ports/renesas-ra/mpconfigport.h
  ports/rp2/mpconfigport.h
  ports/stm32/mpconfigport.h
Labels: ports, extmod

#17346 Optimise `machine.time_pulse_us` implementation for code size, and switch esp8266 port to use it
  extmod/machine_pulse.c
  ports/esp8266/esp_mphal.h
  ports/esp8266/modmachine.c
Labels: port-esp8266, extmod

#17386 ports/esp32: esp32.wake_on_ulp should only be available on boards
  docs/library/esp32.rst
  ports/esp32/machine_rtc.h
  ports/esp32/modesp32.c
Labels: port-esp32

#17177 tools/mpremote: Improve df command to use new no-arg vfs.mount() query.
  tools/mpremote/mpremote/main.py
Labels: tools

#17504 esp32/modesp32: Fix access to ext0_pin only if defined.
  ports/esp32/modesp32.c
Labels: board-definition

#17510 rp2/rp2_flash: Add default MICROPY_HW_FLASH_MAX_FREQ.
  ports/rp2/rp2_flash.c
Labels: port-rp2

#17331 py/runtime.c: Add support for using __all__ in star import.
  py/mpconfig.h
  py/runtime.c
  tests/cpydiff/core_import_all.py
  tests/cpydiff/modules3/__init__.py
  tests/cpydiff/modules3/foo.py
  tests/import/import_star.py
  tests/import/pkgstar_all_array/__init__.py
  tests/import/pkgstar_all_array/funcs.py
  tests/import/pkgstar_all_inval/__init__.py
  tests/import/pkgstar_all_miss/__init__.py
  tests/import/pkgstar_all_tuple/__init__.py
  tests/import/pkgstar_default/__init__.py
Labels: py-core

#17498 py/misc: Fix fallback implementation of mp_popcount.
  py/misc.h
Labels: py-core

#17553 stm32/boards/ARDUINO_PORTENTA_H7: Free reserved timer.
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
Labels: port-stm32

#16358 ports/stm32: Enable FIFO for H7 controller.
  ports/stm32/Makefile
  ports/stm32/boards/stm32h7xx_hal_conf_base.h
  ports/stm32/uart.c
Labels: port-stm32

#17333 extmod/modlwip.c: Fix crash when calling recv on listening socket
  extmod/modlwip.c
  tests/multi_net/tcp_accept_recv.py
Labels: extmod
