Repository micropython/micropython, pull requests merged in 2025-02, with the labels that each got.

#16620 ports/rp2: Workaround for multicore lockout.
  ports/rp2/rp2_flash.c
  tests/ports/rp2/rp2_thread_reset_part1.py
  tests/ports/rp2/rp2_thread_reset_part1.py.exp
  tests/ports/rp2/rp2_thread_reset_part2.py
  tests/ports/rp2/rp2_thread_reset_part2.py.exp
Labels: port-rp2

#16688 py/py.mk: Ignore USER_C_MODULES check when building mpy-cross.
  py/mkrules.cmake
  py/mkrules.mk
Labels: py-core

#16690 py/emitnative: Further (minor) improvements.
  py/emitnative.c
Labels: py-core

#16506 rp2/rp2_pio: Add sideset_pindirs support for PIO.
  docs/library/rp2.rst
  ports/rp2/modules/rp2.py
Labels: port-rp2

#12476 mpremote: Support mip install from local package json file.
  tools/mpremote/mpremote/mip.py
Labels: tools

#16651 Fix memory leak and logic bug with handling of _pio_funcs.
  ports/rp2/modules/rp2.py
Labels: port-rp2

#16668 doc: Add documentation for SPI Ethernet devices on esp32 port.
  docs/esp32/quickref.rst
  docs/library/network.LAN.rst
  docs/library/network.WIZNET5K.rst
Labels: docs, port-esp32

#16661 docs: Note which ports have default or optional network.PPP support.
  docs/library/network.PPP.rst
  ports/rp2/mpconfigport.h
  ports/stm32/mpconfigport.h
Labels: docs, port-stm32, port-rp2

#16691 docs: Add strings vs bytes to speed optimisation tips.
  docs/library/array.rst
  docs/library/builtins.rst
  docs/reference/speed_python.rst
Labels: docs

#16730 docs/library/espnow.rst: Clarify usage of the "rate" configuration key.
  docs/library/espnow.rst
Labels: docs

#16710 extmod/vfs_rom: Remove ability to create VfsRom from an address.
  extmod/vfs_rom.c
  tests/extmod/vfs_rom.py
Labels: extmod

#15604 Update pyboard.py fixing get_time() bug
  tools/pyboard.py
Labels: tools

#16700 esp32: Fix invalid result of machine.SDCard readblocks().
  ports/esp32/machine_sdcard.c
Labels: port-esp32

#16395 ports/renesas-ra/Makefile: Fix binary file generation.
  ports/renesas-ra/Makefile
Labels: port-renesas-ra

#16623 ports/*: increase LWIP timers for ports with mDNS support
  extmod/lwip-include/lwipopts_common.h
Labels: ports

#16751 esp32: Remove unneeded "memory.h" header file.
  ports/esp32/memory.h
Labels: port-esp32

#12477 mpremote: Support relative URLs in mip package.json file.
  docs/reference/packages.rst
  tools/mpremote/mpremote/mip.py
  tools/mpremote/tests/test_mip_local_install.sh
  tools/mpremote/tests/test_mip_local_install.sh.exp
Labels: tools

#16804 docs: Fix double 'the' in documentation.
  docs/esp8266/tutorial/repl.rst
  docs/library/framebuf.rst
  docs/library/machine.UART.rst
  docs/reference/repl.rst
Labels: docs

#16813 tests: fix four typos
  tests/README.md
  tests/extmod_hardware/machine_pwm.py
  tests/ports/esp32/esp32_nvs.py
  tests/run-tests.py
Labels: tests

#16703 stm32: Fix hang when negative block_num passed to sdcard.
  ports/stm32/sdcard.c
Labels: port-stm32

#16524 py/emitinlinerv32: Reduce footprint and fix build on ESP32.
  py/emitinlinerv32.c
Labels: py-core

#16736 py/emitinlinextensa: Simplify register name lookup.
  py/emitinlinextensa.c
Labels: py-core

#16672 py/parsenum.c: reduce code footprint of mp_parse_num_float.
  py/parsenum.c
  tests/float/float_parse.py
Labels: py-core

#16468 Some improvement in esp32 readme.
  ports/esp32/README.md
Labels: port-esp32

#16658 ports/esp32: Allow overriding linker.lf.
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#16381 renesas-ra/modrenesas: Expose the Flash block device in a renesas module.
  ports/renesas-ra/Makefile
  ports/renesas-ra/modrenesas.c
Labels: port-renesas-ra
