Repository micropython/micropython, pull requests merged in 2025-01, with the labels that each got.

#15874 stm32/mboot: Add mboot version string.
  ports/stm32/mboot/Makefile
  ports/stm32/mboot/README.md
  ports/stm32/mboot/fwupdate.py
  ports/stm32/mboot/stm32_sections.ld
  ports/stm32/mboot/version.c
Labels: port-stm32

#16525 tests/extmod/re_sub.py: Fix test execution on Python 3.13.1.
  tests/extmod/re_sub.py
Labels: tests

#10620 Docs: Detail issue with hard ISRs and globals.
  docs/reference/isr_rules.rst
Labels: docs

#16543 stm32: Support 'FDCAN' in board pin CSVs.
  ports/stm32/boards/make-pins.py
Labels: port-stm32

#16545 stm32/can: Fix clearing filters on CAN3 (bxCAN).
  ports/stm32/can.c
Labels: port-stm32

#16546 stm32/fdcan: Fix extended CAN ID filtering for stm32g4.
  ports/stm32/fdcan.c
Labels: port-stm32

#16547 stm32: Fix ARDUINO_NICLA_VISION CAN pins.
  ports/stm32/boards/ARDUINO_NICLA_VISION/mpconfigboard.h
Labels: port-stm32

#16599 ports/stm32/boards/Arduino: Update board config.
  ports/stm32/boards/ARDUINO_GIGA/mpconfigboard.h
  ports/stm32/boards/ARDUINO_NICLA_VISION/mpconfigboard.h
  ports/stm32/boards/ARDUINO_PORTENTA_H7/mpconfigboard.h
Labels: port-stm32

#16595 py/mkrules.mk: Move comment about partial clones outside make rule.
  py/mkrules.mk
Labels: py-core

#16583 qemu/boards: Change boards to use a subdirectory like other ports.
  ports/qemu/Makefile
  ports/qemu/boards/MICROBIT/mpconfigboard.mk
  ports/qemu/boards/MPS2_AN385/mpconfigboard.mk
  ports/qemu/boards/NETDUINO2/mpconfigboard.mk
  ports/qemu/boards/SABRELITE/mpconfigboard.mk
  ports/qemu/boards/VIRT_RV32/mpconfigboard.mk
Labels: port-qemu

#12740 ports/samd/samd_qspiflash.c: Correct QSPI baud calculation.
  ports/samd/samd_qspiflash.c
Labels: port-samd

#16531 mpremote: Fix endless loops
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#16616 mpremote: Introduce timeout_overall to prevent endless loops
  tools/mpremote/mpremote/transport_serial.py
Labels: tools

#16613 lwip: ipv6: Fix incorrect peer address.
  extmod/modlwip.c
Labels: extmod

#16647 extmod/lwip-include: Factor common lwIP config into lwipopts_common.h.
  extmod/lwip-include/lwipopts_common.h
  ports/mimxrt/lwip_inc/lwipopts.h
  ports/renesas-ra/lwip_inc/lwipopts.h
  ports/rp2/lwip_inc/lwipopts.h
  ports/stm32/lwip_inc/lwipopts.h
Labels: ports, extmod
