Repository micropython/micropython, pull requests merged in 2025-07, with the labels that each got.

#17511 alif: Add support for machine_pin IRQ.
  ports/alif/irq.h
  ports/alif/machine_pin.c
  ports/alif/main.c
  ports/alif/mphalport.h
Labels: port-alif

#17513 alif/machine_spi: Improve transfer function.
  ports/alif/machine_spi.c
Labels: port-alif

#17586 esp32/panichandler: Support building against IDFv5.4.2.
  ports/esp32/panichandler.c
Labels: port-esp32

#17382 zephyr: Complete the UART driver and make it interrupt driven.
  ports/zephyr/machine_uart.c
  ports/zephyr/prj.conf
Labels: port-zephyr

#17599 zephyr/machine_pin: Configure OUT pin also as input so it's readable.
  ports/zephyr/machine_pin.c
Labels: port-zephyr

#17587 ports/stm32: Extend STM32H5 DMA use.
  ports/stm32/dma.c
Labels: port-stm32

#17620 stm32: Add machine.ADC implementation for STM32L1.
  ports/stm32/adc.c
  ports/stm32/machine_adc.c
Labels: port-stm32

#17564 tests/micropython: Add missing SystemExit after printing SKIP.
  tests/micropython/meminfo.py
  tests/micropython/memstats.py
  tests/micropython/stack_use.py
Labels: tests

#17627 tests/run-tests.py: Consider tests ending in _async.py as async tests.
  tests/run-tests.py
Labels: tests

#17638 unix/make: Drop i686-linux-gnu path.
  ports/unix/Makefile
Labels: port-unix

#12518 py/vm.c: Avoid heap-allocating slices for built-ins.
  py/vm.c
  tests/basics/builtin_slice.py
  tests/micropython/heapalloc_slice.py
  tests/run-tests.py
Labels: py-core

#17625 alif/lwip_inc: Refactor lwipopts.h to use extmod's common options.
  ports/alif/lwip_inc/lwipopts.h
Labels: port-alif

#17678 examples/rp2/pio_uart_rx: Fix error running example.
  examples/rp2/pio_uart_rx.py
Labels: port-rp2

#17683 webassembly/objpyproxy: Avoid throwing on implicit symbols access.
  ports/webassembly/objpyproxy.js
  tests/ports/webassembly/py_proxy_get.mjs
  tests/ports/webassembly/py_proxy_get.mjs.exp
Labels: port-webassembly

#17669 tools/ci.sh: Change averaging to 1 for run-perfbench.py test.
  tools/ci.sh
Labels: tests

#17565 extmod/vfs_lfsx: Allow overriding the LFS2 on-disk version format.
  extmod/vfs_lfsx.c
Labels: extmod

#17440 unix/mpthreadport: Fix type / comparison of PTHREAD_STACK_MIN.
  ports/unix/mpthreadport.c
Labels: port-unix

#17736 py/obj: Add new type flag to indicate subscr accepts slice-on-stack.
  py/obj.h
  py/objarray.c
  py/vm.c
  tests/basics/slice_optimise.py
  tests/basics/slice_optimise.py.exp
Labels: py-core

#17739 py/objint_longlong: Fix overflow check in mp_obj_int_get_checked.
  py/objint_longlong.c
  tests/basics/int_64_basics.py
Labels: py-core

#17740 py/objint_longlong: Fix longlong interoperability with floats.
  py/objint_longlong.c
  tests/float/int_64_float.py
Labels: py-core

#17783 py/mphal: Add header for size_t.
  py/mphal.h
Labels: py-core

#17779 tests/multi_bluetooth: Extend the deep sleep test timeout.
  tests/multi_bluetooth/stress_deepsleep_reconnect.py
Labels: tests
