Repository micropython/micropython, pull requests merged in 2025-05, with the labels that each got.

#17206 tests/net_hosted: Only run network loopback test on supported targets.
  tests/net_hosted/asyncio_loopback.py
Labels: tests

#17216 tools/ci.sh: Update URL for xtensa-lx106-elf-standalone.tar.gz.
  tools/ci.sh
Labels: tools

#17205 tools/mpremote: For mip install, use hash to skip files that exist.
  tools/mpremote/mpremote/mip.py
Labels: tools

#16324 ports/zephyr: Create ability to use device_next, and so to use device_next CDC ACM as REPL
  ports/zephyr/CMakeLists.txt
  ports/zephyr/Kconfig
  ports/zephyr/main.c
  ports/zephyr/src/usbd.c
Labels: port-zephyr

#17223 ports: zephyr: beagleconnect_freedom: Enable ADC.
  ports/zephyr/boards/beagleconnect_freedom.conf
Labels: port-zephyr

#16772 extmod/asyncio/core.py: Fix early exit of asyncio scheduler.
  extmod/asyncio/core.py
  tests/extmod/asyncio_event_queue.py
  tests/extmod/asyncio_event_queue.py.exp
  tests/extmod/asyncio_iterator_event.py
  tests/extmod/asyncio_iterator_event.py.exp
  tests/extmod/asyncio_wait_for_linked_task.py
  tests/run-tests.py
Labels: extmod

#17136 py/modthread: Initialize thread state nlr_top to NULL.
  py/runtime.h
Labels: py-core

#17200 rp2/Makefile: Add deploy target that uses picotool load.
  ports/rp2/Makefile
  ports/rp2/README.md
Labels: port-rp2

#17201 rp2/rp2_dma: Fix default value used in pack_ctrl on RP2350.
  ports/rp2/rp2_dma.c
Labels: port-rp2

#17214 nrf/mpconfigport: Enable IO.IOBase as a core feature.
  py/mpconfig.h
Labels: port-nrf

#17270 rp2: Add temporary workaround for GCC 15.1 build failure.
  ports/rp2/CMakeLists.txt
  ports/rp2/tools_patch/Findpioasm.cmake
Labels: port-rp2

#17231 tests/net_inet: Update micropython.org certificate for SSL tests.
  tests/net_inet/mpycert.der
  tests/net_inet/ssl_cert.py
  tests/net_inet/test_sslcontext_client.py
Labels: tests

#17262 tests/extmod/vfs_rom.py: Clear sys.path before running test.
  tests/extmod/vfs_rom.py
Labels: tests

#15823 tools/verifygitlog.py: Apply stricter rules on git subject line.
  tools/verifygitlog.py
Labels: tools

#16982 esp32/esp32_common.cmake: Use the tinyusb source files from ESP-IDF.
  ports/esp32/esp32_common.cmake
Labels: port-esp32

#17036 esp32/machine.timer.c: Fix timer.value() of an uninitialized timer.
  ports/esp32/machine_timer.c
Labels: port-esp32

#17135 esp32/machine_uart: Correctly manage UART queue and event task.
  ports/esp32/machine_uart.c
Labels: port-esp32

#17030 esp32/network_common: Raise a memory error on ESP_ERR_NO_MEM.
  ports/esp32/network_common.c
Labels: port-esp32

#17138 esp32/network_ppp: Restructure to match extmod/network_ppp_lwip.
  extmod/network_ppp_lwip.c
  ports/esp32/modnetwork.h
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_ppp.c
Labels: port-esp32

#17294 tools/verifygitlog.py: Disallow a leading slash in commit subject line.
  tools/verifygitlog.py
Labels: tools

#17287 esp32/mpthreadport: Fix double delete of tasks on soft reset.
  ports/esp32/boards/sdkconfig.base
  ports/esp32/mpthreadport.c
Labels: port-esp32

#16760 esp32: Switch to IDF v5.4
  ports/esp32/README.md
  ports/esp32/tools/metrics_esp32.py
  tools/ci.sh
Labels: port-esp32

#16421 esp32: Add LAN8670.
  ports/esp32/main/idf_component.yml
  ports/esp32/modnetwork.h
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_lan.c
Labels: port-esp32

#12732 esp32/modesp32: Implement idf_task_stats().
  docs/library/esp32.rst
  ports/esp32/modesp32.c
Labels: port-esp32

#17123 esp32/machine_i2c: Fix default I2C pins for C3 and S3 variants.
  ports/esp32/machine_i2c.c
Labels: port-esp32

#17237 esp32/network_lan: Add PHY_GENERIC device type.
  docs/esp32/quickref.rst
  ports/esp32/modnetwork.h
  ports/esp32/modnetwork_globals.h
  ports/esp32/network_lan.c
Labels: port-esp32

#17296 tests/run-tests.py: Add test statistics to output _result.json file.
  tests/run-tests.py
Labels: tests

#17148 extmod/modjson: Detect unterminated composite entities.
  extmod/modjson.c
  tests/extmod/json_loads.py
Labels: extmod

#17213 nrf: Use common implementation of machine disable/enable IRQ.
  ports/nrf/modules/machine/modmachine.c
  ports/nrf/mpconfigport.h
  ports/nrf/mphalport.h
Labels: port-nrf

#17272 rp2: Disable the LWIP tick timer when not needed.
  ports/rp2/mpnetworkport.c
Labels: port-rp2

#17329 tests/float/math_constants.py: Test actual e and pi constant values.
  tests/float/math_constants.py
Labels: tests

#17307 lib/littlefs: Update LittleFS to v2.11.
  lib/littlefs/lfs2.c
  lib/littlefs/lfs2.h
  lib/littlefs/lfs2_util.h
Labels: lib

#17013 samd/boards: Add two SparkFun SAMD21 boards.
  docs/samd/pinout.rst
  ports/samd/boards/SPARKFUN_REDBOARD_TURBO/board.json
  ports/samd/boards/SPARKFUN_REDBOARD_TURBO/mpconfigboard.h
  ports/samd/boards/SPARKFUN_REDBOARD_TURBO/mpconfigboard.mk
  ports/samd/boards/SPARKFUN_REDBOARD_TURBO/pins.csv
  ports/samd/boards/SPARKFUN_SAMD21_DEV_BREAKOUT/board.json
  ports/samd/boards/SPARKFUN_SAMD21_DEV_BREAKOUT/mpconfigboard.h
  ports/samd/boards/SPARKFUN_SAMD21_DEV_BREAKOUT/mpconfigboard.mk
  ports/samd/boards/SPARKFUN_SAMD21_DEV_BREAKOUT/pins.csv
Labels: port-samd, board-definition
